<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="71251547-2cb1-4e23-b9d8-43775ee4c612" Alias="blogArticlesContainer" Level="2">
  <Info>
    <Name>Blog Articles Folder</Name>
    <Icon>icon-folder-outline color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Holds Enumerable Article Objects</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Blog</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="e0b0c866-9614-4e9d-9ee0-d2223b4abcd2" SortOrder="0">blogArticle</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>