<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ad008976-87fe-4884-8d0d-88c3f8671795" Alias="buttonExternal1" Level="2">
  <Info>
    <Name>_Button - External (copy)</Name>
    <Icon>icon-link color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An object inheriting Button that has a text string for external url input.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions>
      <Composition Key="e33cd30d-7a71-4a92-8d59-608236c53977">iButton</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a9c70b2e-714e-496d-974d-b438b9fc3a54</Key>
      <Name>External Url</Name>
      <Alias>externalUrl</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation>https?://[a-zA-Z0-9-.]+.[a-zA-Z]{2,}</Validation>
      <Description><![CDATA[Paste or write a url into the text parameter for outside links.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>