<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5712cd79-964b-4a09-9c40-b0b98bea9d74" Alias="buttonMedia" Level="3">
  <Info>
    <Name>_Button - Media</Name>
    <Icon>icon-link color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Parent Key="e33cd30d-7a71-4a92-8d59-608236c53977">iButton</Parent>
    <Compositions>
      <Composition Key="e33cd30d-7a71-4a92-8d59-608236c53977">iButton</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f097d4f4-31c5-4149-8385-1f2642a227d1</Key>
      <Name>Link to File Download</Name>
      <Alias>linkToFileDownload</Alias>
      <Definition>fc9c381d-1386-43f3-9dc5-67766524a51b</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select a file to link to for the button]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>