<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0bdc4f6e-b5ed-4c69-8d7e-fc2070748ae9" Alias="category" Level="2">
  <Info>
    <Name>Category</Name>
    <Icon>icon-badge-add color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Blog</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="1bbf6086-3e58-4450-b782-a66c7cc290ae" SortOrder="0">externalBlogRedirect</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>