<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1bbf6086-3e58-4450-b782-a66c7cc290ae" Alias="externalBlogRedirect" Level="3">
  <Info>
    <Name>External Redirect</Name>
    <Icon>icon-axis-rotation-3 color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Redirect from old url to new internal url</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="f0857966-831d-4e33-b049-b7a0e40556df">blogRedirects</Parent>
    <Compositions>
      <Composition Key="f0857966-831d-4e33-b049-b7a0e40556df">blogRedirects</Composition>
    </Compositions>
    <DefaultTemplate>ExternalRedirect</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="987b594e-52fd-41ce-86f8-6c70a6b4efdb">ExternalRedirect</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e65e1728-6fc5-429b-b5d9-016def1f9295</Key>
      <Name>Redirect</Name>
      <Alias>blogRedirect</Alias>
      <Definition>e1159b13-5f6e-4dc1-8fe3-8d59b88100d3</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>