<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="18a52c17-18b4-4d93-b4a1-3512f8c670df" Alias="internalButton" Level="3">
  <Info>
    <Name>Internal Button</Name>
    <Icon>icon-presentation color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A single call to action button that can be used in Document Types for internal pages.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Objects/Buttons</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>