<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="31edd3a8-5a05-4a07-9732-f6d0df9234e9" Alias="oGraph" Level="2">
  <Info>
    <Name>OGraph</Name>
    <Icon>icon-barcode color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c3de56b6-ddfa-4501-8834-22274c6a31a0</Key>
      <Name>og:title</Name>
      <Alias>ogL</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>OGraph Tags</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>bbdd3a72-524f-4e8e-929f-399b0845bdda</Key>
      <Name>twitter:title</Name>
      <Alias>twitterTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Twitter Tags</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>OGraph Tags</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Twitter Tags</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>