<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="37a782e7-fc95-4f45-92de-85d66d4d2840" Alias="page" Level="1">
  <Info>
    <Name>Page</Name>
    <Icon>icon-page-add color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An inheritable Page Class</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Page</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2fe7f5e4-9baa-483c-8595-53924456eabb">Home</Template>
      <Template Key="272fe119-616c-48ff-9776-68be960025c2">Page</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>28ea4990-e520-4082-9af5-4f12bf0c22c3</Key>
      <Name>Button Array</Name>
      <Alias>buttonArray</Alias>
      <Definition>783e8f44-6768-42ee-8d31-d7948bc54ab7</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>