<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="64f32328-59ca-452b-a660-c0cb70c9ad06" Alias="imagesRoot" Level="2">
  <Info>
    <Name>Images</Name>
    <Icon>icon-pictures-alt-2 color-green</Icon>
    <Thumbnail>icon-folder</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Images</Folder>
    <Compositions />
  </Info>
  <GenericProperties />
  <Structure>
    <MediaType Key="585e2709-8051-4c5c-8338-4c35f63a99c3" SortOrder="0">imageFolder</MediaType>
  </Structure>
  <Tabs />
</MediaType>