<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="938b2e3f-32a9-4217-b03e-3e7a10619f7b" Alias="videoFolder" Level="2">
  <Info>
    <Name>Video Folder</Name>
    <Icon>icon-movie-alt color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Videos</Folder>
    <Compositions />
  </Info>
  <GenericProperties />
  <Structure>
    <MediaType Key="938b2e3f-32a9-4217-b03e-3e7a10619f7b" SortOrder="0">videoFolder</MediaType>
    <MediaType Key="9c25e869-56aa-4935-9f37-832e143c2ecb" SortOrder="1">video</MediaType>
    <MediaType Key="3d0699be-086b-41d5-ae55-5e99a09510fc" SortOrder="2">vidPosterImage</MediaType>
  </Structure>
  <Tabs />
</MediaType>