<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c225462f-a5ce-4f69-b4e0-3b19a3df85ea" Alias="_Media Picker Video" Level="1">
  <Info>
    <Name>_Media Picker Video</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": true,
  "OnlyImages": false,
  "DisableFolderSelect": true,
  "StartNodeId": "umb://media/35d2b54cafb84966997d1fb84de281dc",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>