<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5442bd20-a46c-4931-8da0-1d96747da03e" Alias="_Media Picker - Blog Image" Level="2">
  <Info>
    <Name>_Media Picker - Blog Image</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>_Custom+Site+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": "umb://media/b53e36272d404340b5c747602e6a7e6c",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>