<?xml version="1.0" encoding="utf-8"?>
<DataType Key="735b743f-ca05-40c5-8727-7f077ec437c9" Alias="_Media Picker - Backgrounds" Level="2">
  <Info>
    <Name>_Media Picker - Backgrounds</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>_Custom+Site+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": "umb://media/da066747c6a745e48e8a97290af36efd",
  "IgnoreUserStartNodes": true
}]]></Config>
</DataType>