<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fc9c381d-1386-43f3-9dc5-67766524a51b" Alias="_Media Picker - PDF Downloads" Level="2">
  <Info>
    <Name>_Media Picker - PDF Downloads</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>_Custom+Site+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": false,
  "DisableFolderSelect": true,
  "StartNodeId": "umb://media/7d945b511566453e84cad704c1b3fffc",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>