<?xml version="1.0" encoding="utf-8"?>
<DataType Key="783e8f44-6768-42ee-8d31-d7948bc54ab7" Alias="_Nested - Buttons" Level="2">
  <Info>
    <Name>_Nested - Buttons</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>_Custom+Site+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "buttonMedia",
      "ncTabAlias": "Content",
      "nameTemplate": "{{$index}} - {{buttonText}}"
    },
    {
      "ncAlias": "buttonInternal",
      "ncTabAlias": "Content",
      "nameTemplate": "{{$index}} - {{buttonText}}"
    },
    {
      "ncAlias": "buttonExternal",
      "ncTabAlias": "Content",
      "nameTemplate": "{{$index}} - {{buttonText}}"
    }
  ],
  "MinItems": 1,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>