<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8ea0c46b-e4dd-438f-a54e-75597ca7b314" Alias="_Tags - Site" Level="2">
  <Info>
    <Name>_Tags - Site</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>_Custom+Site+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "Group": "site",
  "StorageType": 0,
  "Delimiter": "\u0000"
}]]></Config>
</DataType>