<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d214b75-b58d-4db0-8d97-210e3ce9242e" Alias="Allstem Logo Dark (1)" Level="3">
  <Info>
    <Parent Key="5635b646-767c-4758-9375-6532998a3550">Logo</Parent>
    <Path>/Images/Logo/AllstemLogoDark1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-03-07T16:13:57</CreateDate>
    <NodeName Default="Allstem Logo Dark (1)" />
    <SortOrder>0</SortOrder>
    <FileHash>21307622071252113115137170332231469925369</FileHash>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/onfdc5mn/allstem-logo-dark.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>