<?xml version="1.0" encoding="utf-8"?>
<Media Key="5f04e1f6-7ee0-499e-b771-45efa721db8a" Alias="Allstem Logo Alt" Level="3">
  <Info>
    <Parent Key="944dd4ca-4b42-4f79-ba55-15aa90438592">Logos</Parent>
    <Path>/Images/Logos/AllstemLogoAlt</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2021-03-07T16:13:53</CreateDate>
    <NodeName Default="Allstem Logo Alt" />
    <SortOrder>3</SortOrder>
    <FileHash>84881582003163248711221336467250239125155</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/31qbix5a/allstem-logo-alt.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>