<?xml version="1.0" encoding="utf-8"?>
<Media Key="da066747-c6a7-45e4-8e8a-97290af36efd" Alias="Backgrounds" Level="2">
  <Info>
    <Parent Key="846a7165-f381-4c0a-a7db-9c66d8146eee">Images</Parent>
    <Path>/Images/Backgrounds</Path>
    <Trashed>false</Trashed>
    <ContentType>imageFolder</ContentType>
    <CreateDate>2021-03-10T14:56:28</CreateDate>
    <NodeName Default="Backgrounds" />
    <SortOrder>9</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties />
</Media>