<?xml version="1.0" encoding="utf-8"?>
<Media Key="73c8acea-9e4b-4bfe-b954-843ff37e0d92" Alias="Background Images" Level="2">
  <Info>
    <Parent Key="846a7165-f381-4c0a-a7db-9c66d8146eee">Images</Parent>
    <Path>/Images/BackgroundImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder1</ContentType>
    <CreateDate>2021-03-08T10:37:08</CreateDate>
    <NodeName Default="Background Images" />
    <SortOrder>2</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties />
</Media>