<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d617230-5df9-4690-88e4-a2906c795927" Alias="Documents" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Documents</Path>
    <Trashed>false</Trashed>
    <ContentType>documentsRoot</ContentType>
    <CreateDate>2021-03-10T15:06:45</CreateDate>
    <NodeName Default="Documents" />
    <SortOrder>3</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties />
</Media>