<?xml version="1.0" encoding="utf-8"?>
<Media Key="42ef38ec-49b6-4391-be6a-0f07cf274591" Alias="Home Hero" Level="3">
  <Info>
    <Parent Key="da066747-c6a7-45e4-8e8a-97290af36efd">Backgrounds</Parent>
    <Path>/Images/Backgrounds/HomeHero</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-03-08T10:38:21</CreateDate>
    <NodeName Default="Home Hero" />
    <SortOrder>0</SortOrder>
    <FileHash>422116718562521253384319314991175114173</FileHash>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{"crops":null,"focalPoint":{"left":0.5,"top":0.5},"src":"/media/3i2o4qvw/hero-home-img.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>