<?xml version="1.0" encoding="utf-8"?>
<Media Key="846a7165-f381-4c0a-a7db-9c66d8146eee" Alias="Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Images</Path>
    <Trashed>false</Trashed>
    <ContentType>imagesRoot</ContentType>
    <CreateDate>2021-03-08T10:32:26</CreateDate>
    <NodeName Default="Images" />
    <SortOrder>2</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties />
</Media>