<?xml version="1.0" encoding="utf-8"?>
<Media Key="19fc0fea-b006-40a2-a0e2-5878b8770375" Alias="shutterstock_305259533.jpg" Level="3">
  <Info>
    <Parent Key="b53e3627-2d40-4340-b5c7-47602e6a7e6c">Blog</Parent>
    <Path>/Images/Blog/shutterstock_305259533Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-04-16T19:50:42</CreateDate>
    <NodeName Default="shutterstock_305259533.jpg" />
    <SortOrder>6</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/3qhpygig/c-work_web_projects-allstemconnections-allstemconnections-web-mvc-dev-brett-content-images-blog-shutterstock_305259533.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>