<?xml version="1.0" encoding="utf-8"?>
<Media Key="6a29afde-5b05-45c8-9667-aa77ccb325ea" Alias="shutterstock_739927150.jpg" Level="3">
  <Info>
    <Parent Key="b53e3627-2d40-4340-b5c7-47602e6a7e6c">Blog</Parent>
    <Path>/Images/Blog/shutterstock_739927150Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-04-16T19:50:00</CreateDate>
    <NodeName Default="shutterstock_739927150.jpg" />
    <SortOrder>2</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1cxds0qf/c-work_web_projects-allstemconnections-allstemconnections-web-mvc-dev-brett-content-images-blog-shutterstock_739927150.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>