<?xml version="1.0" encoding="utf-8"?>
<Content Key="c0b1c5c2-f171-4976-942a-69aba0db2a33" Alias="Art and Science: Five Creative STEM Careers!" Level="4">
  <Info>
    <Parent Key="1165424f-587f-4bdb-9743-b2938bacea60">Articles</Parent>
    <Path>/AllSTEMConnections/Blog/Articles/ArtAndScienceFiveCreativeSTEMCareers</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2021-01-27T00:00:00</CreateDate>
    <NodeName Default="Art and Science: Five Creative STEM Careers!" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9ad299e1-7b5c-4aa4-8af3-ab151bb75dda">BlogArticle</Template>
  </Info>
  <Properties>
    <authorFirstName>
      <Value><![CDATA[Julia]]></Value>
    </authorFirstName>
    <authorLastName>
      <Value><![CDATA[Kochansky]]></Value>
    </authorLastName>
    <blogImage>
      <Value><![CDATA[umb://media/55c7b78852964ce6a99457d29028cc99]]></Value>
    </blogImage>
    <content>
      <Value><![CDATA[<!-- wp:paragraph -->
<p>What do the disciplines of science, technology, mathematics, and engineering (STEM) have in common with the arts? According to popular conceptions, not much. However, experts suggest that STEM requires just as much creativity as artistic fields. A University of South Australia study indicates that STEM students use creative thinking in the same way as art students.<sup>1</sup> In fact, many fields combine STEM expertise with creativity and design applications. If you have the quantitative know-how of STEM and a passion for artistic expression, consider these careers for the best of both worlds.</p>
<!-- /wp:paragraph -->
<p> </p>
<!-- wp:list {"ordered":true} -->
<ol>
<li><strong>Architect </strong></li>
</ol>
<!-- /wp:list -->
<p> </p>
<!-- wp:paragraph -->
<p>Architects must have creative minds and strong science, technology, engineering, mathematics, and environmental knowledge. By pulling from every STEM discipline, architects create unique blueprints that suit different situations and needs.</p>
<!-- /wp:paragraph -->
<p> </p>
<!-- wp:paragraph -->
<p>Prospects will need an undergraduate degree in the field, alongside a potential master’s degree.<sup>2 </sup>Graduates must gain experience through paid internships and eventually achieve their license through the Architect Registration Examination.<sup>3</sup> In school, most aspiring architects will study architectural history, structural design, computer-aided design and drawing (CADD), sustainable building design, digital design, and building science.<sup>2</sup></p>
<!-- /wp:paragraph -->
<p> </p>
<!-- wp:paragraph -->
<p>While the internship requirement lasts three years, this time may be completed during undergraduate study.<sup>3</sup> Although this career has major educational, internship, and licensing requirements, it offers a high median salary and ample opportunities for advancement to architectural manager positions.</p>
<!-- /wp:paragraph -->
<p> </p>
<!-- wp:paragraph -->
<p><strong>2. Multimedia Artists and Animators</strong></p>
<!-- /wp:paragraph -->
<p> </p>
<!-- wp:paragraph -->
<p>Multimedia artists and animators are professionals who create visual effects for media. This career requires advanced technical knowledge of computer design programs and an artistic eye. Many multimedia artists specialize in areas like animated films, video games, or television. These artists are responsible for the computer-generated images (CGI) that bring fantasy worlds, sci-fi monsters, and epic battles to life on screen. Artists may work on a specific aspect of visual design within media forms, such as character design or scenery. Some may work purely on digital media, whereas others may combine traditional artwork with computerized programs.</p>
<!-- /wp:paragraph -->
<p> </p>
<!-- wp:paragraph -->
<p>While most employers require a bachelor’s degree in computer graphics, art, or a related field, the key to successful employment as a multimedia artist or animator is an impressive portfolio.<sup>4</sup> After establishing a career, multimedia artists and animators who prove their technical proficiency and their ability to work well with teams can seek advancement as art directors, producers, or directors.<sup>4</sup></p>
<!-- /wp:paragraph -->
<p> </p>
<!-- wp:paragraph -->
<p><strong>3. Industrial Designer</strong></p>
<!-- /wp:paragraph -->
<p> </p>
<!-- wp:paragraph -->
<p>Industrial designers are at the forefront of developing new manufactured products, including cars, appliances, tools, and more. Typically, industrial designers have advanced computer design software skills and in-depth knowledge of products’ materials and manufacturing requirements.</p>
<!-- /wp:paragraph -->
<p> </p>
<!-- wp:paragraph -->
<p>Industrial designers may specialize in a particular product category, like computers, smartphones, medical equipment, or sporting equipment. Some designers even focus on specific product aspects, such as usability and consumer appeal. Regardless of specialization, all industrial designers must be skilled in CADD software, with 3D modeling becoming increasingly prevalent.</p>
<!-- /wp:paragraph -->
<p> </p>
<!-- wp:paragraph -->
<p>Those seeking a career in industrial design should have a bachelor’s degree in a relevant field, such as engineering or industrial design specifically.<sup>4</sup> Like multimedia artists, it’s also important for industrial designers to create an impressive portfolio to show employers their designs. Skilled, experienced industrial designers can seek advancement as chief designer, department head, or even consider teaching design at a university.</p>
<!-- /wp:paragraph -->
<p> </p>
<!-- wp:paragraph -->
<p><strong>4. Mapping Technician</strong></p>
<!-- /wp:paragraph -->
<p> </p>
<!-- wp:paragraph -->
<p>Although certain design careers may require advanced degrees, many creative STEM jobs are available to those with technical education or even a high-school diploma. One great example of a creative STEM job for those without a traditional university degree is a mapping technician using geographic data from databases to create useful maps.</p>
<!-- /wp:paragraph -->
<p> </p>
<!-- wp:paragraph -->
<p>Creating maps is not as simple as mining databases. Mapping technicians must also edit and process images from the field and fine-tune map design to display information like water locations, elevation, and boundaries. These technicians need strong computer skills to combine, manipulate, and analyze data. They may also use drones for photography to gather information on a specific landscape.</p>
<!-- /wp:paragraph -->
<p> </p>
<!-- wp:paragraph -->
<p>The formal educational requirement for mapping technicians is a high-school diploma, but many also pursue an associate degree or other technical studies in fields like geomatics.<sup>5 </sup>This is where aspiring mapping technicians learn technology skills like Geographic Information Systems (GIS). However, mapping technicians also complete on-the-job training to learn the ropes of map creation and database storage. Although licensing differs from state to state, skilled mapping technicians may pursue advancement as a licensed surveyor.<sup>5</sup></p>
<!-- /wp:paragraph -->
<p> </p>
<!-- wp:paragraph -->
<p><strong>5. Urban Planner</strong></p>
<!-- /wp:paragraph -->
<p> </p>
<!-- wp:paragraph -->
<p>Urban planners design the cities and towns where we live, developing plans to help communities handle population growth, maximize travel efficiency, and more. These planners are experts in government policies, zoning and building codes, environmental issues, and economic factors. They use field investigations and research to develop the best way to develop land to benefit the community. Urban planners combine their deep technical expertise with creative thinking to devise solutions to social, economic, and environmental problems. By working alongside government officials, developers, engineers, and community members, they formulate and drive strategies for improving cities and towns.</p>
<!-- /wp:paragraph -->
<p> </p>
<!-- wp:paragraph -->
<p>Advanced technology skills are a must for urban planners, as their career relies on statistical software, data visualization programs, and Geographic Information System (GIS) software.<sup>6 </sup>Urban planners may focus on a specific area, such as transportation, community development, or historic preservation.</p>
<!-- /wp:paragraph -->
<p> </p>
<!-- wp:paragraph -->
<p>Many urban planners have completed a master’s degree in urban planning. However, these programs are open to students with various undergraduate degrees, including political science and economics. On the other hand, some assistant and junior urban planning positions are also available to those with a bachelor’s degree in planning. For those considering a career in urban planning, perhaps by pursuing a master’s degree in the field, there’s excellent news: the number of urban planning jobs is predicted to increase a massive 11 percent between 2019 and 2029.<sup>6</sup></p>
<!-- /wp:paragraph -->
<p> </p>
<!-- wp:paragraph -->
<p><strong>Your Creative STEM Career</strong></p>
<!-- /wp:paragraph -->
<p> </p>
<!-- wp:paragraph -->
<p>Although some may view STEM as purely quantitative and art as qualitative, these two fields have much more in common than meets the eye. A wide range of STEM careers demand immense creative talent, and companies are eager to find experts with the technical knowledge and artistic skills to keep them on the cutting edge. Whether 3D modeling novel structures or pushing the envelope in architecture, many STEM experts are erasing the line between art and science and innovating in their fields.</p>
<!-- /wp:paragraph -->
<p> </p>
<!-- wp:paragraph -->
<p>Are you an employer seeking skilled workers in science, technology, engineering, and math (STEM), or a jobseeker in STEM looking for your career’s next step? AllSTEM Connections can help. Visit our website at <a rel="noreferrer noopener" href="https://www.allstemconnections.com/" target="_blank"> https://www.allstemconnections.com/</a>.</p>
<!-- /wp:paragraph -->
<p> </p>
<!-- wp:list {"ordered":true,"type":"1"} -->
<ol type="1">
<li><a href="https://www.fastcompany.com/90564801/stem-careers-require-the-same-kind-of-creative-thinking-as-the-arts-says-new-research">https://www.fastcompany.com/90564801/stem-careers-require-the-same-kind-of-creative-thinking-as-the-arts-says-new-research</a></li>
<li><a href="https://www.affordablecollegesonline.org/college-resource-center/steam-careers-art-schools/">https://www.affordablecollegesonline.org/college-resource-center/steam-careers-art-schools/</a></li>
<li><a href="https://www.bls.gov/ooh/architecture-and-engineering/architects.htm#tab-4">https://www.bls.gov/ooh/architecture-and-engineering/architects.htm</a></li>
<li><a href="https://www.bls.gov/ooh/arts-and-design/multimedia-artists-and-animators.htm">https://www.bls.gov/ooh/arts-and-design/multimedia-artists-and-animators.htm</a></li>
<li><a href="https://www.bls.gov/ooh/architecture-and-engineering/surveying-and-mapping-technicians.htm">https://www.bls.gov/ooh/architecture-and-engineering/surveying-and-mapping-technicians.htm</a></li>
</ol>
<!-- /wp:list -->]]></Value>
    </content>
    <excerpt>
      <Value><![CDATA[
What do the disciplines of science, technology, ]]></Value>
    </excerpt>
    <slug>
      <Value><![CDATA[art-and-science-five-creative-stem-careers]]></Value>
    </slug>
    <tags>
      <Value><![CDATA[Talent]]></Value>
    </tags>
  </Properties>
</Content>