<?xml version="1.0" encoding="utf-8"?>
<Content Key="6f77b4a4-65e7-45bb-b711-c4ae3ccd759e" Alias="Art and Science: Five Creative STEM Careers!" Level="5">
  <Info>
    <Parent Key="848097fb-6b7f-49a5-b983-ec4e6dc12ad5">General</Parent>
    <Path>/AllSTEMConnections/Blog/BlogRedirects/General/ArtAndScienceFiveCreativeSTEMCareers</Path>
    <Trashed>false</Trashed>
    <ContentType>externalBlogRedirect</ContentType>
    <CreateDate>2021-04-16T19:56:59</CreateDate>
    <NodeName Default="Art and Science: Five Creative STEM Careers!" />
    <SortOrder>29</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="987b594e-52fd-41ce-86f8-6c70a6b4efdb">ExternalRedirect</Template>
  </Info>
  <Properties>
    <blogRedirect>
      <Value><![CDATA[umb://document/c0b1c5c2f1714976942a69aba0db2a33]]></Value>
    </blogRedirect>
  </Properties>
</Content>