<?xml version="1.0" encoding="utf-8"?>
<Content Key="ac9745f6-a1f2-4f50-837a-c1dcdd2e2f4d" Alias="Artificial Intelligence: Villain or Hero?" Level="4">
  <Info>
    <Parent Key="1165424f-587f-4bdb-9743-b2938bacea60">Articles</Parent>
    <Path>/AllSTEMConnections/Blog/Articles/ArtificialIntelligenceVillainOrHero</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2020-05-26T00:00:00</CreateDate>
    <NodeName Default="Artificial Intelligence: Villain or Hero?" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9ad299e1-7b5c-4aa4-8af3-ab151bb75dda">BlogArticle</Template>
  </Info>
  <Properties>
    <authorFirstName>
      <Value><![CDATA[Brian]]></Value>
    </authorFirstName>
    <authorLastName>
      <Value><![CDATA[Spiegel]]></Value>
    </authorLastName>
    <blogImage>
      <Value><![CDATA[umb://media/4a8f714746b7492c9221ca6ef5e2fc67]]></Value>
    </blogImage>
    <content>
      <Value><![CDATA[<!-- wp:paragraph -->
<p>From smart houses to self-driving cars, artificial intelligence (AI) has been touted as both the single greatest advancement of mankind AND its’ most dangerous threat. Regardless of where you stand, there is no doubt that AI is here to stay. So, how will we adapt to these radical changes in how we live and work? What can we do to get the most out of AI while minimizing the potential risks it represents?</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Narrow vs. General AI</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>First things first, we need to understand the players. The AI commonly used today is known as narrow AI (or weak AI). It is programmed to perform narrowly-defined tasks such as scheduling appointments or turning on your lights when you’re not home. This is the warm and fuzzy AI that makes your life a little easier. Most people can agree that while narrow AI might replace certain low-skill jobs, it poses little threat to humanity and represents significant improvements in how we live our day-to-day lives.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>General AI (AGI or strong AI)<sup>1</sup> is a different – albeit hypothetical - ballgame. The potential of what AGI could become is what keeps some of the world’s greatest minds up at night. Some see it as a malevolent force destined to displace humanity, while others see AGI as a way for humans to transcend our current limitations to achieve more than we could have imagined. Rhetoric aside, what we do know about AGI – should it come to fruition - is that it would have the ability to outperform humans at nearly every cognitive task; and that alone will have a dramatic impact on how humans move into the future. For now, AGI is the stuff of theories but understanding the difference between the two types of AI is the first step to sorting through the noise to make sense of how it will change the way we work.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Making Work Easier and More Efficient</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>First, the good stuff. AI has become such a part of our lives that you may not even be aware of the many ways that AI makes work easier. From communication tools that check your spelling, to spam filters that “learn” your preferences and get rid of junk emails, these tools rely on AI and natural language processing to make life easier and more accurate. Most of us don’t think much about our anti-virus software, but did you know they use machine learning to protect your data and keep you safe online?<sup>2</sup> This enhanced safety through AI includes biometric authentication that can quickly confirm identity through face, fingerprint, or iris scans. Around the world, biometrics are used to log in to devices and access data securely. These are just some of the many ways that AI is making life easier – and safer - for individuals and businesses to operate.<sup>3</sup></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Real-life Risks: Misclassification and Discrimination</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Most researchers agree that even the most advanced AI is unlikely to exhibit human emotions or intentionally act in a benevolent or malevolent way, but there is dark potential, even in the most benign AI application. Let’s take hiring discrimination as an example. In an article titled, <em>Artificial Intelligence Has a Problem with Gender and Racial Bias. Here’s How to Solve It</em>, author Joy Buolamwini coined the phrase “exclusion overhead” to describe the cost of systems that don’t take into account the diversity of humanity.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>In her research, Buolamwini discovered disturbing trends in gender and racial bias in AI systems from IBM, Microsoft, and Amazon. Across the board, AI misidentified the gender of female faces more often than male faces. The error rate for male faces dropped even lower (to around one percent) when the system was identifying lighter-skinned men. For darker-skinned women, the gender identification errors soared to 35 percent.<sup>4</sup></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>AI and the Future of Work</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Why does this matter? In a world where hiring managers were 100 percent unbiased, misclassification by AI would not matter. Unfortunately, the ability to use AI to screen applicants by their gender, race, or disabilities could have devastating effects, and not just on employees. For companies striving to improve their diversity and inclusion rates, one misguided hiring manager with access to AI could undo years of executive effort to move an organization in a more equitable direction. &nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>At first glance, AI may seem like an ominous harbinger of workplace disruption, but it is the very same human creativity that gave birth to AI that is our best hope for leveraging it to realize a brighter future. Humans have the power to guide AI to realize its highest calling. From retraining workers to developing AI that reflects the broad spectrum of humanity, the effect that AI will have on how we work and live is within our control. The question isn’t what AI will do to the workforce, the question is how humanity will leverage AI to make work fairer, and more accessible, for everyone.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Citations</p>
<!-- /wp:paragraph -->

<!-- wp:list {"ordered":true,"type":"1"} -->
<ol type="1"><li><a href="https://futureoflife.org/background/benefits-risks-of-artificial-intelligence/?cn-reloaded=1&amp;cn-reloaded=1">https://futureoflife.org/background/benefits-risks-of-artificial-intelligence/?cn-reloaded=1&amp;cn-reloaded=1</a></li><li><a href="https://www.forbes.com/sites/bernardmarr/2019/12/16/the-10-best-examples-of-how-ai-is-already-used-in-our-everyday-life/#4dda7eae1171">https://www.forbes.com/sites/bernardmarr/2019/12/16/the-10-best-examples-of-how-ai-is-already-used-in-our-everyday-life/#4dda7eae1171</a></li><li><a href="https://money.cnn.com/2018/03/18/technology/biometrics-workplace/index.html">https://money.cnn.com/2018/03/18/technology/biometrics-workplace/index.html</a></li><li>Artificial Intelligence Has a Problem With Gender and Racial Bias. Here’s How to Solve It, Joy Buolamwini February 7, 2019</li></ol>
<!-- /wp:list -->]]></Value>
    </content>
    <excerpt>
      <Value><![CDATA[
From smart houses to self-driving cars, ]]></Value>
    </excerpt>
    <slug>
      <Value><![CDATA[artificial-intelligence-villain-or-hero]]></Value>
    </slug>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>