<?xml version="1.0" encoding="utf-8"?>
<Content Key="1165424f-587f-4bdb-9743-b2938bacea60" Alias="Articles" Level="3">
  <Info>
    <Parent Key="57fc820b-f361-4df6-a633-01249c2b028e">Blog</Parent>
    <Path>/AllSTEMConnections/Blog/Articles</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticlesContainer</ContentType>
    <CreateDate>2021-05-26T12:26:23</CreateDate>
    <NodeName Default="Articles" />
    <SortOrder>47</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>