<?xml version="1.0" encoding="utf-8"?>
<Content Key="f76934b5-a470-4eb4-bcc2-5d787bd2e38f" Alias="Beyond Universities: Alternative Paths to Your STEM Career" Level="5">
  <Info>
    <Parent Key="848097fb-6b7f-49a5-b983-ec4e6dc12ad5">General</Parent>
    <Path>/AllSTEMConnections/Blog/BlogRedirects/General/BeyondUniversitiesAlternativePathsToYourSTEMCareer</Path>
    <Trashed>false</Trashed>
    <ContentType>externalBlogRedirect</ContentType>
    <CreateDate>2021-04-16T19:55:18</CreateDate>
    <NodeName Default="Beyond Universities: Alternative Paths to Your STEM Career" />
    <SortOrder>22</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="987b594e-52fd-41ce-86f8-6c70a6b4efdb">ExternalRedirect</Template>
  </Info>
  <Properties>
    <blogRedirect>
      <Value><![CDATA[umb://document/469e5e78d57b414cba1bc53bc1464cdc]]></Value>
    </blogRedirect>
  </Properties>
</Content>