<?xml version="1.0" encoding="utf-8"?>
<Content Key="180d1842-6d46-42f8-a16c-7422933413ab" Alias="Beyond Universities: Alternative Paths to Your STEM Career" Level="4">
  <Info>
    <Parent Key="1165424f-587f-4bdb-9743-b2938bacea60">Articles</Parent>
    <Path>/AllSTEMConnections/Blog/Articles/BeyondUniversitiesAlternativePathsToYourSTEMCareer</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>1970-01-01T00:00:00</CreateDate>
    <NodeName Default="Beyond Universities: Alternative Paths to Your STEM Career" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9ad299e1-7b5c-4aa4-8af3-ab151bb75dda">BlogArticle</Template>
  </Info>
  <Properties>
    <authorFirstName>
      <Value><![CDATA[Brian]]></Value>
    </authorFirstName>
    <authorLastName>
      <Value><![CDATA[Spiegel]]></Value>
    </authorLastName>
    <blogImage>
      <Value><![CDATA[]]></Value>
    </blogImage>
    <content>
      <Value><![CDATA[<!-- wp:paragraph -->
<p>With science, technology, engineering, and math (STEM) at the cutting-edge of innovation across industries, it’s understandable that demand for STEM workers is high—so high that it exceeds the supply of qualified applicants. In fact, 20 percent of all jobs in the United States require advanced knowledge in STEM and these jobs have doubled over the last decade. According to an Emerson poll, two out of five Americans believe that the shortage of STEM workers is at a crisis level.<a><sup>1</sup> In the same vein, the National Association of Manufacturing and Deloitte predict that the United States will need to fill 3.5 million STEM jobs by 2025, but 2.4 million of these jobs will be unfilled by 2028 due to lack of highly-skilled candidates.<sup>2</sup> </a>To fill the gap, both firms and prospective STEM employees will need to broaden their horizons – and their nets – beyond a four-year degree.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>PhD’s are Not a Prerequisite for All STEM Careers&nbsp;</strong><strong></strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><a>Despite the stereotype of STEM workers as lab-coat-clad PhD chemists, 35 percent of STEM workers do not have a bachelor’s degree, according to Pew Research. That means there are more STEM workers without a bachelor’s degree than those with a master’s, doctorate, or professional degree.</a><sup>3</sup> Many aspiring STEM workers do not realize the amount of STEM jobs available in blue-collar fields like manufacturing or construction. A Brookings Institution study reports that half of all STEM jobs do not require a four-year degree. These jobs pay an average yearly salary of $53,000, or 10 percent more than other jobs with the same educational requirements.<sup>4</sup>&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>A Variety of Pathways to Gain Necessary STEM Skills</strong><strong></strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Clearly, being qualified to work in STEM is about more than earning a traditional degree. There are many options to obtain the necessary skills and qualifications to work in STEM including bridge programs, associate degrees, and trade schools. The rise of coding “boot camps,” which grew by 20 percent in 2018 and produced about 20,000 graduates, has opened new doors for those wanting to fast-track their knowledge and get a technical education in two years. Likewise, blue-collar workers in fields like plumbing can complete apprenticeships that deal with physics, chemistry, and math, without stepping on to a college campus. Similarly, registered nurses study chemistry and anatomy in their nursing programs. Despite the belief that STEM jobs require extensive university education, in reality, many of these jobs simply necessitate on-the-job training instead of an advanced degree.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Opportunities in sub-bachelor STEM careers also abound. According to the author of the Brookings Institution report, sub-bachelor STEM jobs in fields like health care and computer systems are growing. The Bureau of Labor Statistics projected 26 percent and 22 percent growth rates in the number of registered nurses and computer systems analysts, respectively, over the last decade.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Companies are Prioritizing Skills over Educational Credentials Alone</strong><strong></strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>More employers, including tech juggernauts like Google, Apple, and IBM, are learning that a bachelor’s degree isn’t necessary for many jobs. For positions like software engineer, these firms are prioritizing skills over education credentials alone. In a 2014 interview, Google’s Senior Vice President of People Operations Laszlo Bock stated that “the proportion of people without any college education at Google has increased over time.” Instead, Bock emphasized the importance of coding skills for technical roles, which comprise half of the company’s jobs. According to a Stack Overflow survey, 20 percent of developers don’t have a college degree, including high performers.<sup>5</sup></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>This is great news for workers looking to capitalize on the growth of STEM careers but are worried that they lack a bachelor’s degree. Many high-paying STEM careers (registered nurse, developer, petroleum technicians, environmental engineering technicians, computer network support specialists, etc.) desperately need new workers and don’t require a degree.&nbsp;As companies continue to recognize the importance of skills and on-the-job training, more pathways to employment will open up for those with the dedication to learn —and not just in a university classroom.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Citations</p>
<!-- /wp:paragraph -->

<!-- wp:list {"ordered":true,"type":"1"} -->
<ol type="1"><li><a href="https://www.emerson.com/en-us/news/corporate/2018-stem-survey">https://www.emerson.com/en-us/news/corporate/2018-stem-survey</a></li><li><a href="https://www2.deloitte.com/us/en/pages/manufacturing/articles/future-of-manufacturing-skills-gap-study.html">https://www2.deloitte.com/us/en/pages/manufacturing/articles/future-of-manufacturing-skills-gap-study.html</a></li><li>https://www.pewresearch.org/fact-tank/2018/01/09/7-facts-about-the-stem-workforce/ </li><li>https://www.brookings.edu/wp-content/uploads/2016/06/TheHiddenSTEMEconomy610.pdf</li><li>https://insights.dice.com/2018/08/22/stem-degree-unnecessary-tech-jobs/</li></ol>
<!-- /wp:list -->]]></Value>
    </content>
    <excerpt>
      <Value><![CDATA[
With science, technology, engineering, and math ]]></Value>
    </excerpt>
    <slug>
      <Value><![CDATA[]]></Value>
    </slug>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>