<?xml version="1.0" encoding="utf-8"?>
<Content Key="3ff83a2c-eb5f-41e3-a6cb-c1236a78de82" Alias="Blog Search" Level="3">
  <Info>
    <Parent Key="57fc820b-f361-4df6-a633-01249c2b028e">Blog</Parent>
    <Path>/AllSTEMConnections/Blog/BlogSearch</Path>
    <Trashed>false</Trashed>
    <ContentType>search</ContentType>
    <CreateDate>2021-05-27T18:36:54</CreateDate>
    <NodeName Default="Blog Search" />
    <SortOrder>52</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8dc998cb-ba09-40e5-beb7-a40626933b02">SearchResult</Template>
  </Info>
  <Properties>
    <dynamicPageMessage>
      <Value><![CDATA[Your Search Results for {term}]]></Value>
    </dynamicPageMessage>
    <numberOfResults>
      <Value><![CDATA[10]]></Value>
    </numberOfResults>
  </Properties>
</Content>