<?xml version="1.0" encoding="utf-8"?>
<Content Key="57fc820b-f361-4df6-a633-01249c2b028e" Alias="Blog" Level="2">
  <Info>
    <Parent Key="6c6fd1f8-3494-4c82-bc1f-06b2fb4d1d7c">AllSTEM Connections</Parent>
    <Path>/AllSTEMConnections/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2021-04-14T15:38:27</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6264be62-063f-425c-8709-00f52f0231b8">Blog</Template>
  </Info>
  <Properties>
    <blogHeader>
      <Value><![CDATA[umb://media/3495bb910a7e43d795184e2256132630]]></Value>
    </blogHeader>
    <excerptCharCount>
      <Value><![CDATA[50]]></Value>
    </excerptCharCount>
    <numOfDisplayedArticles>
      <Value><![CDATA[10]]></Value>
    </numOfDisplayedArticles>
  </Properties>
</Content>