<?xml version="1.0" encoding="utf-8"?>
<Content Key="b351d53f-397f-4044-999b-3d03f6ca68a3" Alias="Five Exciting STEM Jobs You Need To Know About" Level="4">
  <Info>
    <Parent Key="1165424f-587f-4bdb-9743-b2938bacea60">Articles</Parent>
    <Path>/AllSTEMConnections/Blog/Articles/FiveExcitingSTEMJobsYouNeedToKnowAbout</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2020-04-10T00:00:00</CreateDate>
    <NodeName Default="Five Exciting STEM Jobs You Need To Know About" />
    <SortOrder>21</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9ad299e1-7b5c-4aa4-8af3-ab151bb75dda">BlogArticle</Template>
  </Info>
  <Properties>
    <authorFirstName>
      <Value><![CDATA[Brian]]></Value>
    </authorFirstName>
    <authorLastName>
      <Value><![CDATA[Spiegel]]></Value>
    </authorLastName>
    <blogImage>
      <Value><![CDATA[umb://media/9877e38342f4441c86dfb2698710aa97]]></Value>
    </blogImage>
    <content>
      <Value><![CDATA[<!-- wp:paragraph -->
<p>Many think of STEM in its greater break down of science, technology, engineering, and mathematics. If you further explore these fields, you may find that there are careers in STEM you may have never even heard of or thought about, such as:</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Art Conservators and Restorers</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>The work of conservators and restorers combines the fields of art and science. Although these professionals often undergo different types of training and apply different principles of practice, both receive education in chemistry, fine arts, art history, and other related fields. Taking into consideration the effects of lighting, climate, storage, display, and other potential causes of damage and deterioration, conservators and restorers work to maintain, treat, preserve, and/or restore various works of art. With their extensive knowledge of materials, methods, and techniques, conservators and restorers also provide greater insight into cultural and historical contexts.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Sports Statisticians</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>The world of sports is surrounded by statistics. Whether it’s game predictions, scouting decisions, strategy outcomes, performance results, etc. big data and sports statisticians play an important role. Most sports statisticians have at least a bachelor’s degree in mathematics, statistics, or even computer science. This career often includes predicting performance outcomes by creating mathematical models and computer programs to gather and analyze data. Mainly employed by professional sports teams and television networks, sports statisticians get to combine their love of sports with their skills in analytics.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Genetic Counselors</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Genetic counselors are healthcare professionals that use their knowledge of genes, heredity, and genetic variation to offer patients counseling on how genetics may affect their health or the health of their family members. Conducting tests and analyzing family histories, genetic counselors help patients assess possible health risks and raise considerations when planning for pregnancy. In addition to this analytical side of the profession, genetic counselors are also trained to help support patients emotionally and mentally through handling genetic health implications.&nbsp;&nbsp;&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Agricultural Animal Scientists</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Playing an important role in sustaining and improving the nation’s food supply, agricultural animal scientists’ study and explore the genetics, breeding, growth, and nutrition of domestic farm animals. Typically employed by agricultural consulting firms or government organizations, agricultural animal scientists conduct research and consult on the best raising and breeding practices. In addition to helping improve food production, these STEM professionals also help ensure the quality of life and health of the domestic farms animals by advising on the necessary sanitation practices and facilities maintenance.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Cosmetic Chemists</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>According to Zion Market Research, the global cosmetic products market is expected to reach $863 billion by 2024. Behind this giant industry are many cosmetic chemists that help create, develop, and test cosmetic and skin care products. Often possessing at least a bachelor’s degree in chemistry, these professionals get to utilize their innovative skills as they experiment with different pigments, scents, and formulas to create the hottest new products. The research and exploration of new ingredients and manufacturing technology also plays an incredibly important role in the work of cosmetic chemists. So, whether it’s the craziest new natural ingredient for your skin or lipsticks that smell like birthday cake, know that the work of these STEM professionals is involved.</p>
<!-- /wp:paragraph -->]]></Value>
    </content>
    <excerpt>
      <Value><![CDATA[
Many think of STEM in its greater break down of ]]></Value>
    </excerpt>
    <slug>
      <Value><![CDATA[five-stem-jobs-you-need-to-know-about]]></Value>
    </slug>
    <tags>
      <Value><![CDATA[Talent]]></Value>
    </tags>
  </Properties>
</Content>