<?xml version="1.0" encoding="utf-8"?>
<Content Key="eab81fd8-474f-4d28-a1a0-1e25e5fd79e3" Alias="Five Interesting Jobs in STEM You May Not Know About" Level="4">
  <Info>
    <Parent Key="1165424f-587f-4bdb-9743-b2938bacea60">Articles</Parent>
    <Path>/AllSTEMConnections/Blog/Articles/FiveInterestingJobsInSTEMYouMayNotKnowAbout</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2020-01-07T00:00:00</CreateDate>
    <NodeName Default="Five Interesting Jobs in STEM You May Not Know About" />
    <SortOrder>29</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9ad299e1-7b5c-4aa4-8af3-ab151bb75dda">BlogArticle</Template>
  </Info>
  <Properties>
    <authorFirstName>
      <Value><![CDATA[Emily]]></Value>
    </authorFirstName>
    <authorLastName>
      <Value><![CDATA[Le]]></Value>
    </authorLastName>
    <blogImage>
      <Value><![CDATA[umb://media/ede3795600f145d092954fdc3ecb1e01]]></Value>
    </blogImage>
    <content>
      <Value><![CDATA[<!-- wp:paragraph -->
<p>Although many think of STEM in its greater break down
of science, technology, engineering, and mathematics, if you further explore
these fields you may find that there are careers in STEM you may have never
even heard of or thought about, such as:</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Virtual
Reality Developers</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Recognized as one of today’s top up and coming
technologies, Virtual Reality (VR) has actually been around since the 1960s. Technological
advancements of the 21<sup>st</sup> century and the rise in the popularity of
gaming, however, have since rapidly accelerated the development of virtual
reality. As the market continues to grow, so does the emergence of Virtual
Reality Developers. With backgrounds in software in software engineering, 3D
design, and website development, these professionals design, develop, and test
exceedingly complex VR simulation. </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Flavor
Chemists</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Flavor Chemists, also known as flavorists, are food
scientists that work to add, enhance, replicate, or create flavors for food,
beverages, and other products. Most flavorists have a degree in chemistry, food
science, or other related fields and often also undergo a seven-year
apprenticeship to become certified by the Society of Flavor Chemists (SFC).
Being a flavorist additionally requires a keen sense of taste and smell to help
identify and differentiate flavors and to most accurately replicate or create a
desired flavor. It is a job that uniquely combines science and creativity. So
whether it’s candy-like cereals, vegan meats, or minty toothpaste, the
laboratory research and experimentation of flavor chemists are involved.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>AI/Data/Tech
Ethicists</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>With today’s fast-paced rate of technological
innovation, there has been a greater societal push towards the consideration of
the ethical ramifications of technology. Whether it is issues of personal
privacy, algorithmic biases, or appropriate use, the need for a relationship
between ethics and technology is now greater than ever. Although still a newly
emerging career, AI/data/tech ethicists have risen out of this need to research
and consult on these ethical implications. Coming from a variety of different backgrounds,
including philosophy, law, psychology, science and technology, these ethicists
all have a deep understanding of the role technology has in society and the
potential dangers that can come of that. </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Medical
Illustrators</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>If you have ever seen medical diagrams, charts, or
illustrations in textbooks, magazines, or at the doctor’s office, you’ve seen
the work of Medical Illustrators. Experts in visual communication, medical
illustrators work closely with science and medical professionals to create
illustrations that present complex information to broad audiences. Medical
illustrators have experience in art, design, communication, medicine, and
science, with most obtaining master’s degrees in medical illustration from one
of the four accredited programs in North America. Although medical illustration
is a relatively small field, it has a positive job outlook as new information
continues to arise out of research and as new visual avenues such as 3D
printing emerges.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Ethical
Hackers/White Hat Hackers</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>As the world continues to become technologically
dependent, cyberattacks are now a risk to almost all businesses. Due to these
concerns of cybersecurity, companies are increasingly hiring experts to attempt
to penetrate company networks and computer systems to find possible security
vulnerabilities. These information security experts are known as Ethical or White
Hat Hackers. Although there is no standard criteria to become an Ethical Hacker,
it is beneficial to have an educational background in a field such as computer
science, computer programming, or information security. Additionally, there are
also certifications offered by the International Council of Electronic Commerce
Consultants (EC-Council) and the Information Systems Audit and Control
Association (ISACA) that can further help individuals become Ethical Hackers. </p>
<!-- /wp:paragraph -->]]></Value>
    </content>
    <excerpt>
      <Value><![CDATA[
Although many think of STEM in its greater break ]]></Value>
    </excerpt>
    <slug>
      <Value><![CDATA[five-interesting-jobs-in-stem-you-may-not-know-about]]></Value>
    </slug>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>