<?xml version="1.0" encoding="utf-8"?>
<Content Key="e7a3a11d-86a8-4a18-a304-3f806ac68bba" Alias="Five Growing STEM Jobs You Couldn’t Find 15 Years Ago" Level="4">
  <Info>
    <Parent Key="1165424f-587f-4bdb-9743-b2938bacea60">Articles</Parent>
    <Path>/AllSTEMConnections/Blog/Articles/FiveGrowingSTEMJobsYouCouldnTFind15YearsAgo</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2019-09-05T00:00:00</CreateDate>
    <NodeName Default="Five Growing STEM Jobs You Couldn’t Find 15 Years Ago" />
    <SortOrder>40</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9ad299e1-7b5c-4aa4-8af3-ab151bb75dda">BlogArticle</Template>
  </Info>
  <Properties>
    <authorFirstName>
      <Value><![CDATA[Emily]]></Value>
    </authorFirstName>
    <authorLastName>
      <Value><![CDATA[Le]]></Value>
    </authorLastName>
    <blogImage>
      <Value><![CDATA[umb://media/19fc0feab00640a2a0e25878b8770375]]></Value>
    </blogImage>
    <content>
      <Value><![CDATA[<!-- wp:paragraph -->
<p>Fifteen years ago Facebook had just been launched
and the iPhone was yet to be released. Since then, technology has continued to
advance at a breakneck rate, with new jobs burgeoning that most people would
not have heard of. Here are five rising STEM jobs that did not exist 15 years
ago:</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Blockchain
Developers</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>First applied to Satoshi Nakamoto’s Bitcoin,
released in 2009, Blockchain is a rising technology in the fields of finance
and data exchange. Due to these possible applications, Blockchain start-ups are
emerging and large companies such as Microsoft, Visa, and IBM are beginning to
dip their toes into the pool of Blockchain technology as well. According to
Glassdoor, Blockchain related jobs increased by 300% from 2017 to 2018, and as
more businesses begin to explore and invest in the various uses of Blockchain,
the necessity of professionals in this field will continue to rise. </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Green
Design Architects</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Although efforts towards going green can be seen
scattered throughout history, today’s advanced technology and pressing concerns
for sustainability and climate change have made green design more commonplace.
In the U.S. Green Building Council’s 2018 global Green Building Trends Report,
it is expected that 45% of all construction projects will be green in the next
few years. With the global growth of sustainable building initiatives, some architects
are beginning to specialize in green design. Creating structures that use
alternative energy sources, cross ventilation, and are material efficient,
these professionals play an important role in a more sustainable future.<strong></strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Search
Engine Optimization Analysts</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>While Search Engine Optimization (SEO) gained
traction with the popular growth of Google in the early 2000s, it is in the
most recent decade that businesses have begun to considerably hire SEO
Analysts. Search Engine Optimization is becoming incredibly important for
businesses considering today’s immense use of technology and the continual
development of SEO algorithms. Researching and analyzing trends in search
engine traffic and such algorithms, SEO Analysts are increasingly being hired
by companies to help advise in further promoting company web exposure and
visibility. </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Telemedicine
Physician</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Telemedicine, or telehealth, first began as a way to
provide healthcare to those in hard-to-reach rural areas. Today, telemedicine
has grown to become a matter of convenience. With the current fast-paced
culture, more people want instant medical consultation which today’s advanced
technologies make possible. While some physicians add telemedicine to their
practice, others are solely practicing through telemedicine with growing apps
and companies such as Teledoc, Doctor on Demand, and MDLive. Last year the
telemedicine market was valued at over 21 million dollars and it is only
expected to continue to grow.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Mobile
App Developers</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Although some of the first mobiles apps can be
traced back to the early 90s, it was with the birth of the iPhone in 2007 that
mobile apps as we know it came to be. Today, over 65% of the world’s population
has mobile phones and there are more than 2 million iOS apps available. From
checking the weather to posting on Facebook, mobile apps are now a part of our
everyday lives in ways unimaginable a little over 10 years ago. With the
emergence of apps comes the need for Mobile App Developers. Creating, designing,
and updating mobile applications, Mobile App Developers are now in continually
high demand in today’s app dependent world. </p>
<!-- /wp:paragraph -->]]></Value>
    </content>
    <excerpt>
      <Value><![CDATA[
Fifteen years ago Facebook had just been ]]></Value>
    </excerpt>
    <slug>
      <Value><![CDATA[five-growing-stem-jobs-you-couldnt-find-15-years-ago]]></Value>
    </slug>
    <tags>
      <Value><![CDATA[Talent]]></Value>
    </tags>
  </Properties>
</Content>