<?xml version="1.0" encoding="utf-8"?>
<Content Key="27c3cddc-1b3d-4241-a18a-9530cb0ef249" Alias="Five Ways to Make Your Company More Attractive to STEM Talent" Level="4">
  <Info>
    <Parent Key="1165424f-587f-4bdb-9743-b2938bacea60">Articles</Parent>
    <Path>/AllSTEMConnections/Blog/Articles/FiveWaysToMakeYourCompanyMoreAttractiveToSTEMTalent</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2019-08-05T00:00:00</CreateDate>
    <NodeName Default="Five Ways to Make Your Company More Attractive to STEM Talent" />
    <SortOrder>44</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9ad299e1-7b5c-4aa4-8af3-ab151bb75dda">BlogArticle</Template>
  </Info>
  <Properties>
    <authorFirstName>
      <Value><![CDATA[Emily]]></Value>
    </authorFirstName>
    <authorLastName>
      <Value><![CDATA[Le]]></Value>
    </authorLastName>
    <blogImage>
      <Value><![CDATA[umb://media/6a29afde5b0545c89667aa77ccb325ea]]></Value>
    </blogImage>
    <content>
      <Value><![CDATA[<!-- wp:paragraph -->
<p>As the future of employment moves further towards
STEM, the competitive nature of the job market has made it increasingly
difficult for companies to find and recruit the right talent. So how can you
set out the welcome mat for the new generation of highly skilled workers? Here
are five items to consider: </p>
<!-- /wp:paragraph -->

<!-- wp:heading -->
<h2><strong>Create
the right company culture</strong></h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>It is important for companies to create a culture that will match and attract the type of talent they are looking for. As a company’s culture acts as their personality and public image, it is important to ensure that it is an accurate reflection of a company’s values, ethics, and expectations. When career searching, people often look for a workplace they feel they can fit and belong in, so having the right company culture can attract the right talent. Companies need to create, assess, embody and brand their company culture in ways fitting for both them and the talent they are looking to hire. </p>
<!-- /wp:paragraph -->

<!-- wp:heading -->
<h2><strong>Support
community and team-building</strong></h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>A recent TinyPulse employee engagement report has
shown that the number one aspect of work employees enjoy is their relationships
with their coworkers. Because of this, promoting community and team-building to
further those connections can be beneficial for companies in shaping their
company culture and attracting talent. Regardless of the professional field, a
workplace that facilitates a strong and supportive community helps to boost
morale and increase productivity. In a recent FastCompany Graduate Employment
Study, 60% of a new graduating class reported that they would prefer to work
for a company with a positive social working environment than receive higher
pay at another company without. </p>
<!-- /wp:paragraph -->

<!-- wp:heading -->
<h2><strong>Embrace
technology </strong></h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>With the ever-growing presence of technology and
social media today, it is important that companies are keeping up in terms of online
reputation and digital recruitment. As technology has opened the door to vast
amounts of information, it is quick and easy for candidates to learn about
companies online. Thus, like with company culture, companies must ensure that
their online image is genuinely reflective of their brand. Having a strong
online presence, whether it be through social media or a company blog, is also
becoming an increasingly effective method of recruitment. In fact, nearly
two-thirds of recent graduates said they used a mobile app to look and apply
for jobs. With this technological shift, monitoring and maintaining an online
presence is becoming increasingly important for companies in attracting and
attaining talent. </p>
<!-- /wp:paragraph -->

<!-- wp:heading -->
<h2><strong>Provide
opportunities for growth and development </strong></h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>A Gallup poll recently revealed that 87% of
millennials value and search for opportunities that provide professional growth
and development. As millennials are predicted to make up 75% of the workforce
by 2025 it is important to keep this in mind. Today’s candidates are looking
beyond just a title and a salary. Especially with the ever-growing demand for
STEM talent, candidates have the opportunity to also prioritize growth,
purpose, and fulfillment. Thus, when searching to hire the right talent,
consider providing and promoting such opportunities. Whether it is through
adding training programs, mentorships, or increasing internal promotions, accentuating
such opportunities can help a company better compete in today’s highly
competitive job market. </p>
<!-- /wp:paragraph -->

<!-- wp:heading -->
<h2><strong>Emphasize
flexibility and work-life balance </strong></h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>In addition to growth and development opportunities,
today’s job seekers are also prioritizing flexibility and work-life balance.
When recruiting, it’s useful for companies to emphasize the benefits they do or
are willing to provide, such as flexible hours, telecommuting, and short
breaks. As reports have shown that millennials and generations beyond are more
likely to be in a two-income household, where both partners will be working
full-time, emphasizing and instituting such policies can make a company much
more attractive to talent than their competitors. Additionally, because these
qualities have become such a priority for today’s job-seekers, it has also been
seen to increase retention rates. Thus allowing for flexibility and work-life
balance can help a company both attain employees and keep them. </p>
<!-- /wp:paragraph -->]]></Value>
    </content>
    <excerpt>
      <Value><![CDATA[
As the future of employment moves further ]]></Value>
    </excerpt>
    <slug>
      <Value><![CDATA[five-ways-to-make-your-company-more-attractive-to-stem-talent]]></Value>
    </slug>
    <tags>
      <Value><![CDATA[Clients,Hiring Talent,STEM Talent]]></Value>
    </tags>
  </Properties>
</Content>