<?xml version="1.0" encoding="utf-8"?>
<Content Key="184fa91b-8b4e-48a9-ab2a-2de941ced2a5" Alias="Home" Level="2">
  <Info>
    <Parent Key="6c6fd1f8-3494-4c82-bc1f-06b2fb4d1d7c">AllSTEM Connections</Parent>
    <Path>/AllSTEMConnections/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2021-03-12T11:49:31</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2fe7f5e4-9baa-483c-8595-53924456eabb">Home</Template>
  </Info>
  <Properties>
    <buttonArray>
      <Value><![CDATA[[
  {
    "key": "38e8404a-21f5-459e-925c-514b061f8231",
    "name": "1 - outside link",
    "ncContentTypeAlias": "buttonExternal",
    "buttonText": "outside link",
    "externalUrl": "https://somewhere.com/blog",
    "buttonColor": "",
    "buttonTextColor": "",
    "buttonRolloverColor": "",
    "buttonRolloverTextColor": ""
  },
  {
    "key": "93b651e0-c104-4ee4-88ea-30010ae245b9",
    "name": "2 - internal link",
    "ncContentTypeAlias": "buttonInternal",
    "buttonText": "internal link",
    "internalPage": "umb://document/184fa91b8b4e48a9ab2a2de941ced2a5",
    "buttonColor": "",
    "buttonTextColor": "",
    "buttonRolloverColor": "",
    "buttonRolloverTextColor": ""
  }
]]]></Value>
    </buttonArray>
  </Properties>
</Content>