<?xml version="1.0" encoding="utf-8"?>
<Content Key="9b0158df-4b50-494a-84b5-080121b64de6" Alias="How Your Company Can Benefit From Emphasizing Corporate Social Responsibility" Level="4">
  <Info>
    <Parent Key="1165424f-587f-4bdb-9743-b2938bacea60">Articles</Parent>
    <Path>/AllSTEMConnections/Blog/Articles/HowYourCompanyCanBenefitFromEmphasizingCorporateSocialResponsibility</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2019-10-23T00:00:00</CreateDate>
    <NodeName Default="How Your Company Can Benefit From Emphasizing Corporate Social Responsibility" />
    <SortOrder>35</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9ad299e1-7b5c-4aa4-8af3-ab151bb75dda">BlogArticle</Template>
  </Info>
  <Properties>
    <authorFirstName>
      <Value><![CDATA[Emily]]></Value>
    </authorFirstName>
    <authorLastName>
      <Value><![CDATA[Le]]></Value>
    </authorLastName>
    <blogImage>
      <Value><![CDATA[umb://media/5de055c2f9184eff8fe294dc41532dce]]></Value>
    </blogImage>
    <content>
      <Value><![CDATA[<!-- wp:paragraph -->
<p>With today’s
increased dependency on data and technology, it comes as no surprise that STEM
employment has grown 79% since 1990, and is continuing to heavily outpace
non-STEM fields. To contend in today’s competitive job
market; companies need to further align their values with those of the developing
workforce. Here is how highlighting corporate social responsibility (CSR) can
benefit your company beyond the positive social impacts: </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Boost Brand Reputation </strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Today’s culture
has developed a greater social consciousness, necessitating companies to adapt
to these new expectations. By genuinely implementing corporate social
responsibility initiatives companies can boost their brand reputation and make
themselves more appealing to both customers and job seekers. For example, 66%
of global respondents to the Nielsen Global Corporate Sustainability Report
stated that they would be willing to pay more for products that come from
companies associated with positive social and environmental impacts than those
that aren’t. Additionally, 85% of the US population would even consider
switching brands for this same reason.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Attract New STEM Talent</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>As the
competitive nature of the job market favors job seekers, candidates have the
opportunity to shop for companies that align with their own personal values. Often
referred to as the “giving generation,” 75% of millennials reported that corporate
social responsibility is an important factor when deciding where to work,
enough so that they would be willing to take a lower salary to work for a more
socially responsible company. As millennials are projected to make up 75% of
the global workforce by 2025, it is important that companies evolve to
accommodate and adapt to this growing group of job seekers. By truly
integrating corporate social responsibility into company branding, mission, and
culture, companies can further attract today’s socially conscious STEM talent. </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Further Employee Engagement and
Retention</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Employees want
to stay in a position where their work has meaning and makes an impact. This
sense of meaning can often come through knowing that the company they work for
takes appropriate actions in being socially responsible. When they are further
presented with opportunities to directly participate in making positive social
impacts through their company, this enhances employee engagement and retention.
In fact, 70% of employees stated that they would be more loyal to a company
that provides them with opportunities to contribute to social and environmental
issues than those that don’t. Such opportunities can also help boost employee
morale and create a greater sense of community.</p>
<!-- /wp:paragraph -->]]></Value>
    </content>
    <excerpt>
      <Value><![CDATA[
With today’s
increased dependency on data and ]]></Value>
    </excerpt>
    <slug>
      <Value><![CDATA[how-your-company-can-benefit-from-emphasizing-corporate-social-responsibility]]></Value>
    </slug>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>