<?xml version="1.0" encoding="utf-8"?>
<Content Key="3dfc074c-dbbe-4001-8a1d-fdc7d986e474" Alias="How Artificial Intelligence is Revolutionizing Finance" Level="5">
  <Info>
    <Parent Key="7161d3da-0a34-446a-b989-f1bc8e50f765">Clients</Parent>
    <Path>/AllSTEMConnections/Blog/BlogRedirects/Clients/HowArtificialIntelligenceIsRevolutionizingFinance</Path>
    <Trashed>false</Trashed>
    <ContentType>externalBlogRedirect</ContentType>
    <CreateDate>2021-04-16T19:57:41</CreateDate>
    <NodeName Default="How Artificial Intelligence is Revolutionizing Finance" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="987b594e-52fd-41ce-86f8-6c70a6b4efdb">ExternalRedirect</Template>
  </Info>
  <Properties>
    <blogRedirect>
      <Value><![CDATA[umb://document/1acc9dd6e9f64c96b28c15e2552f75ab]]></Value>
    </blogRedirect>
  </Properties>
</Content>