<?xml version="1.0" encoding="utf-8"?>
<Content Key="c525663d-5fbd-4a8c-a8c4-cb02b4f0cd27" Alias="Inclusive, Meaningful Recruitment Starts with Women STEM Mentorship" Level="4">
  <Info>
    <Parent Key="1165424f-587f-4bdb-9743-b2938bacea60">Articles</Parent>
    <Path>/AllSTEMConnections/Blog/Articles/InclusiveMeaningfulRecruitmentStartsWithWomenSTEMMentorship</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2020-03-03T00:00:00</CreateDate>
    <NodeName Default="Inclusive, Meaningful Recruitment Starts with Women STEM Mentorship" />
    <SortOrder>23</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9ad299e1-7b5c-4aa4-8af3-ab151bb75dda">BlogArticle</Template>
  </Info>
  <Properties>
    <authorFirstName>
      <Value><![CDATA[Christine]]></Value>
    </authorFirstName>
    <authorLastName>
      <Value><![CDATA[Cabrera]]></Value>
    </authorLastName>
    <blogImage>
      <Value><![CDATA[umb://media/01f598d0957942d4a83ce2ddaac6587e]]></Value>
    </blogImage>
    <content>
      <Value><![CDATA[<!-- wp:paragraph -->
<p>Initiatives like mentoring
programs are gaining stronger traction than ever. This is largely bolstered by
the fact that science, technology, engineering, and mathematics (STEM) professionals
seek out employers who value corporate citizenship and inclusion. Mentoring
programs engage employees, nurture talent pipelines, and help companies promote
their brands through corporate social responsibility (CSR). They can also help companies
create a more caring and conscious culture and brand. </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Studies are finding that in the United States, more women than men
are graduating college. The number starts to even out when they enter the
workforce, but the equality breaks down in the STEM fields, where women
represent only <strong>28% of the workforce.<sup>1 </sup></strong>Mentoring programs can help break the cycle young
women moving away from STEM. By interacting directly with STEM professionals, young
women may be better able to see themselves in STEM-related careers, and
professional success in these fields will seem
as attractive and attainable as any other. As some researches pointed
out, “Girls and women can’t be what they can’t see.”<strong><sup> 2 </sup></strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>As with many worthwhile
pursuits, women STEM mentorship programs require commitment, effort, and follow
through. The good news is, many companies have successfully rolled out women
mentorship programs and found that these programs not only supported their
immediate and long-term recruitment initiatives, but also their ongoing
employee engagement and retention goals.<sup> 4</sup> </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Tata Consultancy Services (TCS), a long- recognized STEM education proponent and a leading global IT serves company, has been consistently lauded for corporate citizenship.<sup>3</sup> TCS is also the founder and technology partner of Million Women Mentors (MWM), which has generated millions of mentoring engagements and have led the charge for CSR through women STEM mentoring. Below are five guideposts<sup>5</sup> they have set to help companies develop, launch, and sustain a successful mentoring program that promotes STEM careers among women and a culture that not only supports but champions them: </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Make it realistic</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Identify how you want to advance women in STEM and pinpoint the demographic you want to mentor. Is it extra support for female employees, mentoring school-age girls interested in STEM fields, volunteering time with STEM-focused female organizations, or offering paid internships to students? The answer will depend on an individual company’s size, culture, and capabilities. Look at your company’s internal goals and priorities to determine what groups you can best support. </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Make it viable</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Introducing mentoring programs is often met with excitement and interest, the key is to sustain these. Start with getting buy-in from the top so that those wanting to participate have support. Whether it’s offering paid volunteering time (PVT) or sponsoring resources to help your staff mentors succeed, making mentor employees feel empowered and supported should be a continuous push. </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Make it engaging</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>After creating interest and even excitement for your corporate mentorship initiative, the next challenge is to keep them engaged. The smartest way to do this is by taking the guesswork out of mentoring. Provide training and resources mentors can use. </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Make it measurable </strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Track and evaluate your mentoring efforts. Determine what metrics you will be evaluating before rollout so you can track and tweak the program. What comprises success? Is it the number of staff who volunteered? The number of mentees who chose to follow a STEM career path (this will take time)? The amount of time employees spend mentoring? </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Make it rewarding </strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Celebrate
your ongoing mentorship successes and recognize the mentors, your mentees and
the partnerships created by the program. Make the participants feel seen and
valued. Highlighting mentor employees will not only inspire others to get
involved, they may even persuade other organizations (and other STEM talent) to
partner with your company. </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong><em>Bonus guidepost:</em></strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Don’t go it alone </strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Million
Women Mentors (MWM) has made it their mission to mobilize two million STEM
professionals and increase the interest and confidence of girls and women to
persist and succeed in STEM programs and careers. They have developed a variety
of tools and resources for mentors including handbooks, training guides, and
worksheets that mentors can use to get to know their mentees. You can use these
materials as they are or adapt them to suit your needs. </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Today, gender parity is more
than a social cause – it’s a business imperative. Companies
interested in recruiting STEM talent know diversity and inclusion are
crucial to driving innovation and strengthening their competitive advantage.
They are also learning that one of the biggest challenges is ensuring men and
women are equally represented in the STEM workplace. </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>STEM Statistics,</strong> National Girls Collaborative
Project 2018, <a href="https://ngcproject.org/statistics">https://ngcproject.org/statistics</a></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Female Mentorship Helps Keep Women in STEM Subjects, According To New Study</strong>, Mercado, Maria (06/04/17) <a href="https://www.bustle.com/p/female-mentorship-helps-keep-women-in-stem-subjects-according-to-new-study-64437">https://www.bustle.com/p/female-mentorship-helps-keep-women-in-stem-subjects-according-to-new-study-64437</a></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>3 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>TCS Named America’s Most Community-Minded Information
Technology Company</strong> (08/22/18) <a href="https://www.tcs.com/tcs-named-america-most-community-minded-information-technology-company-2018-civic-50">https://www.tcs.com/tcs-named-america-most-community-minded-information-technology-company-2018-civic-50</a></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>4 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="https://www.fastcompany.com/3064292/these-companies-run-mentorship-programs-that-actually-work"><strong>These Companies Run Mentorship Programs That Actually Work</strong></a><strong>, </strong>Ward, Kate (10/15/16) <a href="https://www.fastcompany.com/3064292/these-companies-run-mentorship-programs-that-actually-work">https://www.fastcompany.com/3064292/these-companies-run-mentorship-programs-that-actually-work</a></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Corporate Best Practices for Mentoring Women in STEM</strong> Tata
Consultancy Services (2017) <a href="https://www.millionwomenmentors.com/sites/default/files/resources/TCS_Women_in_STEM_2017_FINAL.pdf">https://www.millionwomenmentors.com/sites/default/files/resources/TCS_Women_in_STEM_2017_FINAL.pdf</a></p>
<!-- /wp:paragraph -->]]></Value>
    </content>
    <excerpt>
      <Value><![CDATA[
Initiatives like mentoring
programs are gaining ]]></Value>
    </excerpt>
    <slug>
      <Value><![CDATA[inclusive-meaningful-recruitment-starts-with-women-stem-mentorship]]></Value>
    </slug>
    <tags>
      <Value><![CDATA[Clients]]></Value>
    </tags>
  </Properties>
</Content>