<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1c6914b-5f5c-4cae-966f-17ea696f6a51" Alias="Making a Switch to a STEM Field" Level="4">
  <Info>
    <Parent Key="1165424f-587f-4bdb-9743-b2938bacea60">Articles</Parent>
    <Path>/AllSTEMConnections/Blog/Articles/MakingASwitchToASTEMField</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2019-12-10T00:00:00</CreateDate>
    <NodeName Default="Making a Switch to a STEM Field" />
    <SortOrder>30</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9ad299e1-7b5c-4aa4-8af3-ab151bb75dda">BlogArticle</Template>
  </Info>
  <Properties>
    <authorFirstName>
      <Value><![CDATA[Emily]]></Value>
    </authorFirstName>
    <authorLastName>
      <Value><![CDATA[Le]]></Value>
    </authorLastName>
    <blogImage>
      <Value><![CDATA[umb://media/b78e5247cd004b8b983c5f97e23dc840]]></Value>
    </blogImage>
    <content>
      <Value><![CDATA[<!-- wp:paragraph -->
<p>As you progress through your career, your wants and
needs will likely change. Maybe the long hours and a lot of traveling that you
relished early in your career are now taking their toll. Maybe you feel as if
the skills you’ve developed would be better utilized elsewhere, like in the
growing STEM market. After all, many of today’s fastest growing jobs are in the
fields of science, technology, engineering, and mathematics. Because it’s never
too late to start a new career path, here are three tips for making the switch
to a STEM field:</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Consider
Where You Fit In</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Unfortunately, accounting experience probably won’t help
you make the jump to being a microbiologist, nor will working in marketing
allow you to be a natural in the world of volcanology (or vice versa). With
that being said, there are plenty of STEM-related jobs, that with a little
vocational and on-the-job training, you can make the jump to. Consider the types
of jobs that would make sense for you to go into given your skills, experience,
and where you are in your career. It is important not to discount the idea of
looking for non-STEM jobs within STEM companies. A company that specializes in wind
turbines still needs an accounts receivable department and you may find that
the booming success of their industry means better pay and benefits. &nbsp;&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Be
Open to Relocation</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Be open to embracing the full wave of change when
switching to a new job. If there isn’t a wealth of STEM jobs in your area,
consider relocating to a place where they are plentiful. According to Forbes, top
cities with the most STEM job listings include San Jose, Seattle, and
Washington D.C. Do your research and discover what areas would be right for you
and for your career. While change may be scary, a recent survey conducted by
the Impact Group found that 55% of employees believe that they are on a better
career path due to their relocation, and 71% said that it also gave them the
opportunity to enjoy new experiences, both inside and outside the office. </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Don’t Underestimate Your Experience</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>It is important that you take time to
consider how you can best brand yourself in today’s ever-growing world of STEM.
Although you may not have a STEM degree, there are many skills and experiences that
are easily transferable, such as communication, organization, and technology
literacy. Assess your strengths and think about how they can be applied and
marketed to various STEM fields. Although you may still have to undergo basic
on-the-job training, there is a lot that your past experiences and skills can
make up for. Be open to learning, yet know that you do have a lot to offer. </p>
<!-- /wp:paragraph -->]]></Value>
    </content>
    <excerpt>
      <Value><![CDATA[
As you progress through your career, your wants ]]></Value>
    </excerpt>
    <slug>
      <Value><![CDATA[making-a-switch-to-a-stem-field]]></Value>
    </slug>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>