<?xml version="1.0" encoding="utf-8"?>
<Content Key="92faca58-4af3-49ca-aa4c-220c5ce0f595" Alias="Man and Machine: Automation and Your Career" Level="5">
  <Info>
    <Parent Key="848097fb-6b7f-49a5-b983-ec4e6dc12ad5">General</Parent>
    <Path>/AllSTEMConnections/Blog/BlogRedirects/General/ManAndMachineAutomationAndYourCareer</Path>
    <Trashed>false</Trashed>
    <ContentType>externalBlogRedirect</ContentType>
    <CreateDate>2021-04-16T19:55:39</CreateDate>
    <NodeName Default="Man and Machine: Automation and Your Career" />
    <SortOrder>23</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="987b594e-52fd-41ce-86f8-6c70a6b4efdb">ExternalRedirect</Template>
  </Info>
  <Properties>
    <blogRedirect>
      <Value><![CDATA[umb://document/defdd5ec4dd64f4b8428f312ef4a0886]]></Value>
    </blogRedirect>
  </Properties>
</Content>