<?xml version="1.0" encoding="utf-8"?>
<Content Key="34460dbc-0799-403e-80cc-ff95c96435af" Alias="Now For Something Completely Different: Five STEM Jobs You Need To Read About!" Level="5">
  <Info>
    <Parent Key="848097fb-6b7f-49a5-b983-ec4e6dc12ad5">General</Parent>
    <Path>/AllSTEMConnections/Blog/BlogRedirects/General/NowForSomethingCompletelyDifferentFiveSTEMJobsYouNeedToReadAbout</Path>
    <Trashed>false</Trashed>
    <ContentType>externalBlogRedirect</ContentType>
    <CreateDate>2021-04-16T19:53:25</CreateDate>
    <NodeName Default="Now For Something Completely Different: Five STEM Jobs You Need To Read About!" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="987b594e-52fd-41ce-86f8-6c70a6b4efdb">ExternalRedirect</Template>
  </Info>
  <Properties>
    <blogRedirect>
      <Value><![CDATA[umb://document/9d1a8459f3b44222b5bacdeaa5d25676]]></Value>
    </blogRedirect>
  </Properties>
</Content>