<?xml version="1.0" encoding="utf-8"?>
<Content Key="40e503a7-72ab-47d3-bb6d-5e65b19873da" Alias="Scrubbing Gender Bias from Job Ads Is Good for Diversity, Inclusivity, and Business" Level="4">
  <Info>
    <Parent Key="1165424f-587f-4bdb-9743-b2938bacea60">Articles</Parent>
    <Path>/AllSTEMConnections/Blog/Articles/ScrubbingGenderBiasFromJobAdsIsGoodForDiversityInclusivityAndBusiness</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2019-10-01T00:00:00</CreateDate>
    <NodeName Default="Scrubbing Gender Bias from Job Ads Is Good for Diversity, Inclusivity, and Business" />
    <SortOrder>37</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9ad299e1-7b5c-4aa4-8af3-ab151bb75dda">BlogArticle</Template>
  </Info>
  <Properties>
    <authorFirstName>
      <Value><![CDATA[Christine]]></Value>
    </authorFirstName>
    <authorLastName>
      <Value><![CDATA[Cabrera]]></Value>
    </authorLastName>
    <blogImage>
      <Value><![CDATA[umb://media/3bd6452477ae423d98256732f183cacc]]></Value>
    </blogImage>
    <content>
      <Value><![CDATA[<!-- wp:paragraph -->
<p>As
diversity and inclusion become increasingly crucial to employer branding and
culture, companies looking to attract STEM talent are finding that promoting gender
diversity isn’t just being “woke” – it’s also profitable. Global management consulting firm
McKinsey &amp; Company found that the most racially and gender-diverse
companies (top 25 percent) are 35 percent more likely to be more profitable
than their national industry medians. When it comes to gender diversity,
businesses in the 75 percentile outperform their less diverse competitors by 15 percent.<sup>1 </sup>Even as
early as a decade ago, workplace diversity has been identified as a key
predictor for sales revenue, customer numbers, and profitability.<sup>2</sup>
</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":6} -->
<h6>What’s Good for the Gander…?</h6>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Today, while women represent nearly half (47 percent) of the total U.S. workforce, they occupy only 24 percent of the country’s STEM jobs. Likewise, women constitute slightly more than half of college-educated workers but makeup only 25 percent of college-educated STEM workers.<sup> 3 </sup></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>With less women in the talent pool, it is even more imperative to ensure your job ads engage them as well as their male peers. The job ad is the employers’ version of a resume, but instead of listing work experience, it lists the job description and requirements. It also conveys some of the company’s culture and other information designed to attract the right candidates to apply and be interviewed. </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>The key isn’t to focus on attracting female STEM candidates, but to ensure they feel included and not alienated by gender-biased language found in job ads. Below are some best practices to help your job ad attract top STEM talent – <em>both </em>men and women:</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>1) Employ gender-neutral language – and watch those
pronouns</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Phrases
like “Pivot Guru,” “The Indiana Jones of InDesign,” or “Spreadsheet Wizard” aren’t
intended to make anyone feel left out – they’re intended to add pizzazz to the
job ad and hope it makes STEM candidates chuckle and apply. However, that is
often not the case. Research demonstrates that gendered wording promotes gender
inequality, and job ads for STEM positions, which were (and are) mostly held by
males, tend to have greater masculine wording.<sup>4&nbsp; </sup>Rather
than embellishing and risking the use of ‘male’ words, stick with the actual
job title. Also, use “S/he” or “you” as gender-neutral pronounces. For
instance: “As our Project Manager you will help keep everybody on task, on
target, and on time.”&nbsp; </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>2) Champion collaboration over competition</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Even
in this age and in the business of science and technology, cultural norms are
deeply imbedded in our psyches. Modesty’s polar opposite is still bragging –
even when the latter is warranted. As a result, many women don’t engage when
they see job ads that are heavy on superlatives (”superior,” ”dominate,” or
“world-class”) or portray the company or workplace as more competitive than
collaborative.<sup>5</sup> &nbsp;&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>3) Shorten the requirements laundry list</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Many women won’t apply for a job unless they meet almost
all of the listed requirements while men tend to have a lower threshold for applying.<sup>6</sup>
Limiting the number of qualifications in a job description will go a long way
to mitigate job-listing gender bias. List only skills that are absolutely
necessary for the role. </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>4) Show some heart </strong><strong></strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Work-life balance is a major priority for women and the mostly-Millennial and Gen Z STEM professionals as a whole. Parental leave, flextime, and child care subsidies benefit families and make you a more attractive employer for your future base of employees.<strong> Make sure to highlight your company’s altruistic side. </strong>Mention mentorship programs, volunteer opportunities, and pet causes to connect with candidates in a meaningful way. Don’t be shy about what your organization has to offer and why it’s such a great, diverse, and inclusive place to work!</p>
<!-- /wp:paragraph -->

<!-- wp:list {"ordered":true} -->
<ol><li><strong>Sources: Why Diversity Matters</strong> Hunt, Vivian, Layton, Dennis and Prince, Sara (1/ 2015): https://www.mckinsey.com/business-functions/organization/our-insights/why-diversity-matters </li></ol>
<!-- /wp:list -->

<!-- wp:paragraph -->
<p>2. <strong>Research links diversity with increased sales revenue and profits, more customers</strong>, Herring Cedric, American Sociological Association (03/031/09) <a href="https://www.eurekalert.org/pub_releases/2009-03/asa-rld033009.php">https://www.eurekalert.org/pub_releases/2009-03/asa-rld033009.php</a> </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>3. <strong>Women in STEM: 2017 Update</strong>, Ryan Noonan (11/13/2017) <a href="https://www.latrobe.edu.au/nest/83-of-women-leave-stem/">https://www.latrobe.edu.au/nest/83-of-women-leave-stem/</a> </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>4. <strong>Evidence that gendered wording in job advertisements exists and sustains gender inequality.</strong> Gaucher D, Friesen J, Kay AC. (07/10/2011) <a href="https://www.ncbi.nlm.nih.gov/pubmed/21381851">https://www.ncbi.nlm.nih.gov/pubmed/21381851</a> </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>5. <strong>How To Take Gender Bias Out Of Your Job Ads,</strong> HBS Working Knowledge Contributor (12/14/2016) <a href="https://www.forbes.com/sites/hbsworkingknowledge/2016/12/14/how-to-take-gender-bias-out-of-your-job-ads/#77d96b071024">https://www.forbes.com/sites/hbsworkingknowledge/2016/12/14/how-to-take-gender-bias-out-of-your-job-ads/#77d96b071024</a> </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>6. <strong>Bragging rights: MSU study shows that interventions help women's reluctance to discuss accomplishments</strong>, Schmidt, Carol (01/10/2014) <a href="https://www.montana.edu/news/12368/bragging-rights-msu-study-shows-that-interventions-help-women-s-reluctance-to-discuss-accomplishments">https://www.montana.edu/news/12368/bragging-rights-msu-study-shows-that-interventions-help-women-s-reluctance-to-discuss-accomplishments</a> </p>
<!-- /wp:paragraph -->]]></Value>
    </content>
    <excerpt>
      <Value><![CDATA[
As
diversity and inclusion become increasingly ]]></Value>
    </excerpt>
    <slug>
      <Value><![CDATA[scrubbing-gender-bias-from-job-ads-is-good-for-diversity-inclusivity-and-business]]></Value>
    </slug>
    <tags>
      <Value><![CDATA[Clients]]></Value>
    </tags>
  </Properties>
</Content>