<?xml version="1.0" encoding="utf-8"?>
<Content Key="4fc75a11-c59a-4b45-8248-ad987c646a24" Alias="Soft Skills for STEM Careers" Level="4">
  <Info>
    <Parent Key="1165424f-587f-4bdb-9743-b2938bacea60">Articles</Parent>
    <Path>/AllSTEMConnections/Blog/Articles/SoftSkillsForSTEMCareers</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2020-06-02T00:00:00</CreateDate>
    <NodeName Default="Soft Skills for STEM Careers" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9ad299e1-7b5c-4aa4-8af3-ab151bb75dda">BlogArticle</Template>
  </Info>
  <Properties>
    <authorFirstName>
      <Value><![CDATA[Brian]]></Value>
    </authorFirstName>
    <authorLastName>
      <Value><![CDATA[Spiegel]]></Value>
    </authorLastName>
    <blogImage>
      <Value><![CDATA[umb://media/2cd46e23d26f49b5b76f8ff30619454f]]></Value>
    </blogImage>
    <content>
      <Value><![CDATA[<!-- wp:paragraph -->
<p>When you think of “soft” skills you might automatically think of the arts, humanities, and social sciences, but soft skills are also a vital part of working in science, technology, engineering, and math (STEM). So what are soft skills? They are the personality traits and behaviors that make you, you. Unlike technical (or “hard” skills), soft skills are not about what you know but how you respond to change, react in a crisis, or thrive in adversity.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Employers will tell you that mastery of these soft skills is in short supply, giving an edge to STEM candidates willing to develop themselves to thrive, no matter what the future brings. If you are looking to up your game and boost your net worth, here are three soft skills that can help you get where you want to go:</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Communication: it’s not just what you have to say but <em>how</em> you say it</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>It is crucial that STEM professionals are able to present numbers, data, and research in a way that is easily digestible for a wide range of audiences. In STEM, effective communication means being able to break down complex ideas and technical information into ideas and concepts that are easy-to-understand for non-STEM team members, customers, and employers.<sup>1</sup> Good communication skills have been shown to create stronger teams, improved collaboration, and better outcomes. It’s no wonder that a recent survey of chief information officers (CIOs) listed communication skills as the number two skill you need to advance your career.<sup>2</sup></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Creativity: think out of the box</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Although you may not think of the number-based, data-driven STEM world as being a creative one, the truth is STEM and creativity go hand-in-hand. Whether it is complex problem solving, building new technologies, conducting research, or interpreting data, creativity is a core function of STEM work. In today’s increasingly competitive, technology-driven world, the need for innovation and inventiveness – i.e. creativity – is crucial. On top of that, creativity is a soft skill that experts believe won’t be replaced by artificial intelligence (AI)<sup>3</sup> anytime soon, making creativity a skill that gives you a competitive career edge over the long-term.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Adaptability: change is the only constant</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>As creativity and global competition spark scientific and technological advancement, STEM professions must possess the ability to adapt. While remaining flexible in changing circumstances and environments is important in all professions, it is especially important in STEM. From learning to use the most advanced software or technology, to jumping on the latest breakthrough in research, adaptability is vital in an industry that is always looking for the next best thing. The importance of adaptability has led to the development of the “adaptability quotient (AQ);” a variable that has been dubbed “the future of work” and the “new competitive advantage.”<sup>4</sup></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>As you can see, developing these three soft skills can translate into big benefits for your STEM career. &nbsp;Take a moment to self-evaluate and ask others for their feedback. Where are your natural strengths? What can you do to develop these skills going forward? A little introspection and personal growth in these areas could make all the difference when it comes to making the most of your STEM career.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><a>Want to make sure you’ve got what it takes? At AllSTEM, we specialize in placing STEM talent with top companies around the globe. </a><a href="#_msocom_1">[T1]</a>&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>1 Important Soft Skills for Information Technology (IT) Jobs</strong>, Alison Doyle (06/303/19)</p>
<!-- /wp:paragraph -->

<!-- wp:embed {"url":"https://www.thebalancecareers.com/top-information-technology-it-soft-skills-2063781"} -->
<figure class="wp-block-embed"><div class="wp-block-embed__wrapper">
https://www.thebalancecareers.com/top-information-technology-it-soft-skills-2063781
</div></figure>
<!-- /wp:embed -->

<!-- wp:paragraph -->
<p><strong>2 IT’s soft skills shortage — and how to train up for success</strong>, Minda Zetlin (06/23/19)</p>
<!-- /wp:paragraph -->

<!-- wp:embed {"url":"https://www.cio.com/article/3410049/its-soft-skills-shortage-and-how-to-train-up-for-success.html"} -->
<figure class="wp-block-embed"><div class="wp-block-embed__wrapper">
https://www.cio.com/article/3410049/its-soft-skills-shortage-and-how-to-train-up-for-success.html
</div></figure>
<!-- /wp:embed -->

<!-- wp:paragraph -->
<p><strong>3 Why creativity is the most important soft skill companies’ look for right now</strong>, Andrea Hak (07/01/19) <a href="https://thenextweb.com/adobe-fundamentals/2019/07/01/why-creativity-is-the-most-important-soft-skill-companies-look-for-right-now/">https://thenextweb.com/adobe-fundamentals/2019/07/01/why-creativity-is-the-most-important-soft-skill-companies-look-for-right-now/</a></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>4 What’s the Adaptability Quotient and Why is it Important? </strong>Chris Powell (04/20/18) <a href="https://www.d2l.com/corporate/blog/adaptability-quotient-important/">https://www.d2l.com/corporate/blog/adaptability-quotient-important/</a></p>
<!-- /wp:paragraph -->

<!-- wp:separator -->
<hr class="wp-block-separator"/>
<!-- /wp:separator -->

<!-- wp:paragraph -->
<p>&nbsp;<a href="#_msoanchor_1">[T1]</a>Closing?</p>
<!-- /wp:paragraph -->]]></Value>
    </content>
    <excerpt>
      <Value><![CDATA[
When you think of “soft” skills you might ]]></Value>
    </excerpt>
    <slug>
      <Value><![CDATA[soft-skills-for-stem-careers]]></Value>
    </slug>
    <tags>
      <Value><![CDATA[Talent]]></Value>
    </tags>
  </Properties>
</Content>