<?xml version="1.0" encoding="utf-8"?>
<Content Key="601e8c91-37c5-40c4-9fe3-c583291cd4f7" Alias="The Future of Staffing: Robotic Process Automation" Level="5">
  <Info>
    <Parent Key="7161d3da-0a34-446a-b989-f1bc8e50f765">Clients</Parent>
    <Path>/AllSTEMConnections/Blog/BlogRedirects/Clients/TheFutureOfStaffingRoboticProcessAutomation</Path>
    <Trashed>false</Trashed>
    <ContentType>externalBlogRedirect</ContentType>
    <CreateDate>2021-04-16T19:57:31</CreateDate>
    <NodeName Default="The Future of Staffing: Robotic Process Automation" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="987b594e-52fd-41ce-86f8-6c70a6b4efdb">ExternalRedirect</Template>
  </Info>
  <Properties>
    <blogRedirect>
      <Value><![CDATA[umb://document/8c3a9e872d8a4c1c9ce03998d231f477]]></Value>
    </blogRedirect>
  </Properties>
</Content>