<?xml version="1.0" encoding="utf-8"?>
<Content Key="0f1d7e22-6568-4115-8ac2-b7dd67952e7e" Alias="Three Tools Your Company Can Use to Tap into the Passive Candidate STEM Pool" Level="4">
  <Info>
    <Parent Key="1165424f-587f-4bdb-9743-b2938bacea60">Articles</Parent>
    <Path>/AllSTEMConnections/Blog/Articles/ThreeToolsYourCompanyCanUseToTapIntoThePassiveCandidateSTEMPool</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2020-01-28T00:00:00</CreateDate>
    <NodeName Default="Three Tools Your Company Can Use to Tap into the Passive Candidate STEM Pool" />
    <SortOrder>26</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9ad299e1-7b5c-4aa4-8af3-ab151bb75dda">BlogArticle</Template>
  </Info>
  <Properties>
    <authorFirstName>
      <Value><![CDATA[Emily]]></Value>
    </authorFirstName>
    <authorLastName>
      <Value><![CDATA[Le]]></Value>
    </authorLastName>
    <blogImage>
      <Value><![CDATA[umb://media/acb6b8f656884773be08bdb13514b809]]></Value>
    </blogImage>
    <content>
      <Value><![CDATA[<!-- wp:paragraph -->
<p>Although already employed and not actively seeking
jobs, passive candidates are still open to hearing and accepting better
opportunities. Making up 75% of the workforce, passive candidates are the
experienced and high skilled employees many companies are looking for,
especially in the fields of STEM. This makes them more challenging to recruit.
Here are three tools your company can use to access the passive candidate pool:
</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Utilize
Your Employees</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>A good way to source passive candidates is to use one
of the best resources you already have: your employees. As your employees most
likely have a connections to other top talent, further your passive candidate
recruitment by creating an employee referral program. Passive candidates are
more likely to take interest in what your company has to offer when the
connection is being made through people they already know and trust. In fact,
according to CareerBuilder, 82% of employers cited employee referrals as being the
best return on investment. Utilizing employee referrals will additionally help
you cut recruitment costs, ease onboarding, and decrease turnover. </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Reach
Out Through Social Media, Especially LinkedIn</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>With over 630 million global users, LinkedIn and other
social media sites are great resources for finding talent. As LinkedIn has
established itself as a top professional platform, it is filled with both
active and passive candidates presenting their employment experience and skill
sets. Take advantage of LinkedIn’s advanced search options and recruiter
resources to find and reach out to the passive candidates that fit the position
your company is looking for. As over 75% of people who recently changed jobs
used LinkedIn to help inform their decision, it is important your company
maintains a strong online presence. </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Connect
Through a Staffing Agency</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>While many companies believe that utilizing a staffing
agency may not be cost effective, the reality is that the right agency can save
companies a lot of time, money, and labor. Staffing agencies also come with a vast
network of connections, especially in specialized fields such as STEM. Constantly
informed on the various evolving demands of employment and continually building
long-term connections with talent, staffing agencies are a great resource to
help your company access and recruit passive candidates. In fact, according to
LinkedIn, staffing agencies spend approximately 80 to 90% of their time
networking and sourcing these experienced and highly-skilled candidates. </p>
<!-- /wp:paragraph -->]]></Value>
    </content>
    <excerpt>
      <Value><![CDATA[
Although already employed and not actively ]]></Value>
    </excerpt>
    <slug>
      <Value><![CDATA[three-tools-your-company-can-use-to-tap-into-the-passive-candidate-stem-pool]]></Value>
    </slug>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>