<?xml version="1.0" encoding="utf-8"?>
<Content Key="cbeeee77-1855-440a-819c-9f7a9c7576e5" Alias="Three Tips to Help You Ace Your Technical Interview" Level="4">
  <Info>
    <Parent Key="1165424f-587f-4bdb-9743-b2938bacea60">Articles</Parent>
    <Path>/AllSTEMConnections/Blog/Articles/ThreeTipsToHelpYouAceYourTechnicalInterview</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2019-08-13T00:00:00</CreateDate>
    <NodeName Default="Three Tips to Help You Ace Your Technical Interview" />
    <SortOrder>43</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9ad299e1-7b5c-4aa4-8af3-ab151bb75dda">BlogArticle</Template>
  </Info>
  <Properties>
    <authorFirstName>
      <Value><![CDATA[Emily]]></Value>
    </authorFirstName>
    <authorLastName>
      <Value><![CDATA[Le]]></Value>
    </authorLastName>
    <blogImage>
      <Value><![CDATA[umb://media/b507678ed1f9412e8c6fcbbc11514b37]]></Value>
    </blogImage>
    <content>
      <Value><![CDATA[<!-- wp:paragraph -->
<p>If you are conducting a job search in the fields of engineering, science, or information technology (IT), chances are you’ll find yourself in interviews that feature more specific types of technical questions than the average interview. While the internet is full of stories that make technical interviews seem like a bombardment of questions that are asked only to trip you up (SPOILER: they aren’t), they aren’t anywhere near as “terrifying” as you may have been led to believe.&nbsp; To help combat any worries you may have, here are three tips that will help you ace it: </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Be ready to
problem-solve</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Despite what you may have heard, technical interviews are
not made to trick you. Companies simply want to assess your technical skillset
and watch your problem-solving skills in real-time. With this in mind, expect
to answer questions that involve hypothetical problem-solving.&nbsp; Depending on the position you are applying
for, you may be asked to answer brain teasers, undergo logic tests, and/or even
code. Although you have probably learned certain skills and concepts before,
it’s good to brush up on the basics and wash away the rust. It is also
important to remember that in a technical interview, especially with
brainteasers, there isn’t always a “correct answer.” Instead, interviewers are
looking to see your methodology and whether you can communicate your logic and
reasoning. </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Study the job
description</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>The questions you’ll be asked during a technical interview
aren’t random. Instead, they will relate to the needs of the specific position
you are applying for. With this in mind, get very familiar with the job
description as it can help you shape your expectations for the types of
questions your interviewer may ask. By looking at the job duties mentioned in
the description, you can gain insight on the types of challenges you may have
to face on the job, and thus also on the possible problem-solving interview
questions. In studying the skills and qualifications section, you can gain a
clear idea of what skills may be tested during the interview, and thus what you
may need to prepare for. This is especially true if there are very specific
skill-sets listed. </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Don’t forget the
basics.</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Yes, the technical side of a technical interview is
extremely important, but don’t forget that other aspects of a “normal”
interview still apply. Along with assessing your technical abilities,
interviewers are still going to ask you the typical behavioral and situational
questions. Like with any other interview, prepare to talk about your strengths,
challenges you have overcome, and what you can bring to the position.
Especially in the often collaborative environments of STEM, also show off your
abilities to work in a team.</p>
<!-- /wp:paragraph -->]]></Value>
    </content>
    <excerpt>
      <Value><![CDATA[
If you are conducting a job search in the fields ]]></Value>
    </excerpt>
    <slug>
      <Value><![CDATA[three-tips-to-help-you-ace-your-technical-interview]]></Value>
    </slug>
    <tags>
      <Value><![CDATA[Talent]]></Value>
    </tags>
  </Properties>
</Content>