<?xml version="1.0" encoding="utf-8"?>
<Content Key="14947c26-8851-4515-871c-389f04eb503a" Alias="Tiebreaker: Choosing Which STEM Candidate to Hire" Level="4">
  <Info>
    <Parent Key="1165424f-587f-4bdb-9743-b2938bacea60">Articles</Parent>
    <Path>/AllSTEMConnections/Blog/Articles/TiebreakerChoosingWhichSTEMCandidateToHire</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2019-11-20T00:00:00</CreateDate>
    <NodeName Default="Tiebreaker: Choosing Which STEM Candidate to Hire" />
    <SortOrder>31</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9ad299e1-7b5c-4aa4-8af3-ab151bb75dda">BlogArticle</Template>
  </Info>
  <Properties>
    <authorFirstName>
      <Value><![CDATA[Christine]]></Value>
    </authorFirstName>
    <authorLastName>
      <Value><![CDATA[Cabrera]]></Value>
    </authorLastName>
    <blogImage>
      <Value><![CDATA[umb://media/8580b2421339434c85885f8ca770e488]]></Value>
    </blogImage>
    <content>
      <Value><![CDATA[<!-- wp:paragraph -->
<p>Great job! You’ve posted a clear and comprehensive job
description, successfully attracted strong science, technology, engineering,
and math (STEM) talent, combed through dozens of impressive resumes, and ended
up interviewing several stellar candidates! Now for the clincher: you now need
to choose The One, and even with team votes, an in-depth, after-hours social
interview (they both think spiked seltzer is just ‘meh’), and sage advice from
The Oracle (a.k.a. Karen from HR), it’s not quite clear: who is the best hire?
Who will be worth the hiring investment? Who will mesh well with the team and
thrive? Here are some factors that may help tip the scale:</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Who has more learning potential and adaptability? </strong>In the STEM
sector, experience isn't the end-all, be-all. Many tech firms, especially
startups, have small teams with members performing multiple functions. For
emerging companies, or even large ones who recognize the value of agility and
adaptability, hiring candidates who can grow into taking on more complex,
challenging roles is ideal. It’s also important to determine if your potential
new hire can roll with the punches, and remain positive and productive in the
face of change. To test for adaptability, ask for examples of when they had to
adjust on the fly.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Who is a natural fit for the job? </strong>Most people want to do their
best, but there are some gems who will succeed because they truly care about
the work they do – simply because it fits so well with their personalities.<sup>2</sup>
Are looking for a Project Manager who is more detail-oriented and proud of
their previous projects? Which Customer Service Representative is more of a
people person? Which Front Desk Admin is naturally cheerful and organized?</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><em>And,
most importantly…</em></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Who is the better cultural fit?</strong> Culture has become the major factor
for determining employee engagement, productivity, and retention – and for good
reason. “When a candidate has a genuine, authentic desire to join your company because
their personal values align with your culture, the potential is limitless,”
says Sarah O'Neill, VP ident of HR at humano, who has been listed among the
Millennials who are leading HR into the future on SHRM’s 30 Under 30 list. “Everything
else can be taught.”<sup> 1 </sup></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Cultural compatibility fosters loyalty, commitment, and is essential for employee longevity – a premium in today’s market where turnover is more the rule than the exception.<sup> 3</sup> The cost of onboarding a STEM employee is well over $240,000, and the true cost of a bad hire is at least 30 percent of that employee's first-year earnings.<sup>1 </sup>Think carefully about who you and your team would most like to work with day after day, and who would most like to work with your team – ultimately the right decision will pay dividends not just in employee morale, but for your actual bottom-line. </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nine Hiring Tips To Help You Choose The Perfect Candidate</strong>, O'Neill, Sarah (04/25/2017) <a href="https://www.forbes.com/sites/forbeshumanresourcescouncil/2017/04/25/nine-hiring-tips-to-help-you-choose-the-perfect-candidate/#65a94b324f60"> www.forbes.com </a></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Should
You Hire for Personality or Skill?</strong> Paljug, Katherine (11/27/2018) <a href="https://www.businessnewsdaily.com/11165-hire-personality-or-skill.html">https://www.businessnewsdaily.com/11165-hire-personality-or-skill.html</a>
</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Employee
loyalty is down — and weak company culture is to blame</strong>, Bolden-Barret,
Valerie (02/26/2019) <a href="https://www.hrdive.com/news/employee-loyalty-is-down-and-weak-company-culture-is-to-blame/549061/">https://www.hrdive.com/news/employee-loyalty-is-down-and-weak-company-culture-is-to-blame/549061/</a></p>
<!-- /wp:paragraph -->]]></Value>
    </content>
    <excerpt>
      <Value><![CDATA[
Great job! You’ve posted a clear and ]]></Value>
    </excerpt>
    <slug>
      <Value><![CDATA[tiebreaker-choosing-which-stem-candidate-to-hire]]></Value>
    </slug>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>