<?xml version="1.0" encoding="utf-8"?>
<Content Key="0cb8afb1-8763-4323-8e6b-90a19c1cfb40" Alias="Why Smart STEM Employers Hire on Potential, Not Experience" Level="4">
  <Info>
    <Parent Key="1165424f-587f-4bdb-9743-b2938bacea60">Articles</Parent>
    <Path>/AllSTEMConnections/Blog/Articles/WhySmartSTEMEmployersHireOnPotentialNotExperience</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2019-10-09T00:00:00</CreateDate>
    <NodeName Default="Why Smart STEM Employers Hire on Potential, Not Experience" />
    <SortOrder>36</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9ad299e1-7b5c-4aa4-8af3-ab151bb75dda">BlogArticle</Template>
  </Info>
  <Properties>
    <authorFirstName>
      <Value><![CDATA[Christine]]></Value>
    </authorFirstName>
    <authorLastName>
      <Value><![CDATA[Cabrera]]></Value>
    </authorLastName>
    <blogImage>
      <Value><![CDATA[umb://media/6a678ede2c2a49e898bbc7d7fa35e643]]></Value>
    </blogImage>
    <content>
      <Value><![CDATA[<!-- wp:paragraph -->
<p>While it serves as most employers’ go-to measuring
stick, past performance is not a guarantee for future success. This is
particularly true when it comes to hiring STEM talent, the fastest-growing
talent demographic, with demand expected to grow by 13 percent
from 2012 to 2022, to a total of 9 million jobs.<sup>1 </sup>Combined with today’s low unemployment rate, many hiring managers are finding
that focusing on experience, and even education, leaves them with slim and
costly pickings. To address this, many hiring managers have explored the idea
of evaluating candidates for potential as a hiring tactic. Here are four reasons
why hiring for potential, not experience, is an increasingly smart strategy: </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Education
doesn’t always mean success</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>In fact,
on the predictors of performance, education came in at 0.09 on a scale of 0 to
1 – which is well below an acceptable correlation. Recruiting from the top
universities, compared to a wider selection pool that includes lower ranked
institutions, will eliminate many high potential applicants.<sup>2</sup> Conversely, when cognitive ability is combined with a
behavioral assessment and a structured interview, the predictive ability of a
candidate’s job performance soars to 58 percent! A huge jump from the 1 percent
we get from education alone.<sup>3</sup></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Cultural
fit means they will thrive and be engaged</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>An
employee retention study found that 81 percent of new hires have the technical skills needed to
succeed in their role, but still fail as an employee.<sup>4 </sup>Hiring a
candidate who meshes well with the manager and the team, or is enthusiastic
about your brand, means candidates are more likely be motivated. Additionally,
giving a less experienced candidate a chance to prove themselves lets you measure
how likely they are to thrive while driving employee loyalty.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Alternative
recruiting sources boosts diversity</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>While there is nothing wrong with recruiting and
hiring where everyone else does, this strategy increases the chances that the candidates
you are considering are considering offers from multiple employers. Some of the
many underrepresented demographics with STEM potential that go overlooked
include veterans, women returning to the workforce, workers with disabilities,
under-employed part-time workers, and immigrants. Tapping trainable STEM talent
from these groups can also contribute to creating a more diverse,
representative, and subsequently profitable workforce.<sup>5</sup></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>More
options, less cost</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>At the
end of the day, there is a greater supply of candidates that have potential but
lack experience. From fresh graduates to seasoned non-STEM professionals
looking to explore switching to a stem career, this relatively plentiful supply
reduces costs and allows you to bring in the talent you need to support accelerated
growth.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Whether it
be STEM talent or otherwise, hiring really great people&nbsp;goes beyond skills
and resumes. It calls for understanding what makes a person tick – or ticks
them off – and finding their common ties with the company. In the past, hiring has gravitated toward arbitrary and subjective
measures, making it difficult to reveal a candidate’s true potential. Today,
modern hiring tools and hiring experts are helping companies harness untapped
talent effectively and cost efficiently, while giving diamonds in the rough a
chance to shine.</p>
<!-- /wp:paragraph -->

<!-- wp:list {"ordered":true} -->
<ol><li><strong>Recruiting
Down to a Science,</strong> Rafter, Michelle, Workforce Magazine (12/22/15) <a href="https://www.workforce.com/2015/12/22/recuiting-down-to-a-science/">https://www.workforce.com/2015/12/22/recuiting-down-to-a-science/</a></li></ol>
<!-- /wp:list -->

<!-- wp:list -->
<ul><li><strong>3 Top Companies’ Strategies for Hiring &amp; Retaining
Women in STEM</strong>, Moore, Emily
(11/27/18) <a href="https://www.glassdoor.com/employers/blog/3-top-companies-strategies-for-hiring-retaining-women-in-stem/?nabe=6392912005562368:0&amp;utm_referrer=https%3A%2F%2Fwww.google.com%2F">https://www.glassdoor.com/employers/blog/3-top-companies-strategies-for-hiring-retaining-women-in-stem/?nabe=6392912005562368:0&amp;utm_referrer=https%3A%2F%2Fwww.google.com%2F</a><sup>2</sup></li></ul>
<!-- /wp:list -->

<!-- wp:list -->
<ul><li><strong>How good is education at predicting job performance?,</strong> Peterson, Thad (10/03/17)&nbsp; <a href="https://www.predictiveindex.com/blog/how-good-is-education-at-predicting-job-performance/">https://www.predictiveindex.com/blog/how-good-is-education-at-predicting-job-performance/</a></li></ul>
<!-- /wp:list -->

<!-- wp:list -->
<ul><li><strong>Why I Hire for Attitude over Skills (and How to Do It)</strong>, Hogan, Maren (12/28/2017)  <a href="https://business.linkedin.com/talent-solutions/blog/recruiting-strategy/2017/why-i-hire-for-attitude-over-skills-and-how-to-do-it">https://business.linkedin.com/talent-solutions/blog/recruiting-strategy/2017/why-i-hire-for-attitude-over-skills-and-how-to-do-it</a> </li></ul>
<!-- /wp:list -->

<!-- wp:list -->
<ul><li><strong>STEM the Tide: Why the U.S.
Has a STEM Shortage and How to Fix It – Part 2</strong>, Weiner, Ben (11/19/18) <a href="https://www.bullhorn.com/blog/2018/11/stem-the-tide-part-2/">https://www.bullhorn.com/blog/2018/11/stem-the-tide-part-2/</a></li></ul>
<!-- /wp:list -->]]></Value>
    </content>
    <excerpt>
      <Value><![CDATA[
While it serves as most employers’ go-to ]]></Value>
    </excerpt>
    <slug>
      <Value><![CDATA[why-smart-stem-employers-hire-on-potential-not-experience]]></Value>
    </slug>
    <tags>
      <Value><![CDATA[Clients]]></Value>
    </tags>
  </Properties>
</Content>